<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>admin - setting</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <!-- <script type="text/javascript" src="/static/jsMin/util.js"></script>
    <script type="text/javascript" src="/static/jsMin/variable.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/detail.css"/>
    <link rel="stylesheet" href="/static/css/loading.css"/>
    <link rel="stylesheet" href="/static/css/admin/dashboard.css" />
    <link rel="stylesheet" href="/static/css/board/editor.css" /> -->

    <script type="text/javascript" src="/jsMin/util.js"></script>
    <link rel="stylesheet" href="/css/variable.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/detail.css"/>
    <link rel="stylesheet" href="/css/loading.css"/>
    <link rel="stylesheet" href="/css/admin/category.css" />
    <link rel="stylesheet" href="/css/board/editor.css" />


</head>
<body class="indexBody" data-theme="light-mode">
    <script type="text/javascript" src="/jsMin/toggle.js"></script>
    <div class="image-maindiv">
        <div th:replace="~{header :: header}"></div>
        <div>
            <div class="back-div">
                <a class="btn-back text-center" href="/admin/dashboard">뒤로 가기</a>
            </div>
            <div class="container">
                <div class="flex-column gap">
                    <div class="container-title">
                        <h5>게시판 카테고리 관리 페이지</h5>
                    </div>
                    <div class="flex-column background gap">
                        <form action="/admin/category/insert" method="POST">
                            <div class="flex-row">
                                <input class="insert-text" type="text" name="category" required />
                                <input class="submit-btn" type="submit" value="추가" />
                            </div>
                            <span class="info">추가, 수정, 삭제버튼에 대한 특별한 안내 문구가 나오지 않습니다. 신중하게 버튼을 클릭하세요.</span>
                        </form>
                        <div class="flex-column gap" >
                            <div th:each="category : ${categoryList}" class="flex-column">
                                <form method="POST">
                                    <div class="flex-row">
                                        <input type="hidden" name="id" th:value="${category.id}" />
                                        <input type="text" name="category" th:value="${category.category}" readonly />
                                        <span>👉🏻</span>
                                        <input class="btn" type="submit" formaction="/admin/category/delete" value="삭제"/>
                                        <input class="btn blur" type="submit" formaction="/admin/category/update" value="수정"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<div id="blackArea">
    <div id="loading">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <h1>정보 요청중..</h1>
    </div>
</div>

</body>
</html>