<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>admin - setting</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <!-- <script type="text/javascript" src="/static/jsMin/util.js"></script>
    <script type="text/javascript" src="/static/js/admin/dashboard.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/detail.css"/>
    <link rel="stylesheet" href="/static/css/loading.css"/>
    <link rel="stylesheet" href="/static/css/admin/dashboard.css" />
    <link rel="stylesheet" href="/static/css/board/editor.css" /> -->

    <script type="text/javascript" src="/jsMin/util.js"></script>
     <script type="text/javascript" src="/jsMin/admin/dashboard.js"></script>
    <link rel="stylesheet" href="/css/variable.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/detail.css"/>
    <link rel="stylesheet" href="/css/loading.css"/>
    <link rel="stylesheet" href="/css/admin/dashboard.css" />
    <link rel="stylesheet" href="/css/board/editor.css" />


</head>
<body class="indexBody" data-theme="light-mode">
    <script type="text/javascript" src="/jsMin/toggle.js"></script>
    <div class="image-maindiv">
        <div th:replace="~{header :: header}"></div>

        <div class="container">
            <div class="flex-column gap">
                <div class="container-title">
                    <h5>관리자 페이지</h5>
                </div>
                <div class="flex-column gap">
                    <div class="flex-row gap">
                        <div class="flex-column background fill">
                            <span>총 방문자</span>
                            <span th:text="${total}"></span>
                        </div>
                        <div class="flex-column background fill">
                            <span>오늘 방문자</span>
                            <span th:text="${today}"></span>
                        </div>
                        <div class="flex-column background fill">
                            <input type="date" id="picker" name="date" data-placeholder="날짜 선택" required aria-required="true" onchange="getVisitCount(this)">
                            <p id="visitCountByDate"></p>
                        </div>
                    </div>
                </div>
                <div class="flex-column background">
                    <div class="flex-row gap" >
                        <div class="flex-column">
                            <a class="btn" href="/admin/updatecategory">게시판 카테고리 추가하기</a>
                        </div>
                        <div class="flex-column">
                            <a class="btn" href="/admin/replyinquire">관리자 문의 & 피드백 답변하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="blackArea">
    <div id="loading">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <h1>정보 요청중..</h1>
    </div>
</div>

</body>
</html>