label{
    padding: 0px 0px 0px 10px;
    cursor:pointer;
    font-size:12px;
}
label:hover{
    text-decoration:underline;
}
input[type='radio'] {
    color: var(--table-sub-text-color);
    background-color: var(--main-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--sub-color);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
input[type='radio']:checked {
    background-color: var(--sub-color);
    border: 3px solid var(--border);
}
:hover {
    transition: all 0.15s;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 3px;
}
h6{
    margin: 20px;
}
.background {
    padding: 7px;
    background-color: var(--sub-color-a);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #000000;
}
.image-maindiv{
    background-image: url(/image/background-image-market.jpeg);
    background-repeat: repeat;
    height: auto;
    min-height: 100%;
}
.gap{
    gap: 10px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto auto 5vh;
    gap: 5px;
    align-items: normal;
}
.relative{
    position: relative;
}
.flex-row{
    display:flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.vertical-center{
    align-items: center;
}
.vertical-flex-end{
    align-items: flex-end;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.shadow{
    box-shadow: 0 0 8px var(--border);
}
.input{
    background: none;
    width: 90%;
    padding: 12px 42px 12px 12px;
    font-size: 13px;
    color: var(--table-th-text-color);
    font-weight: 200;
    border-width: 0;
    outline:none;
}
.search-div{
    width: 100%;
    border-radius: 8px;
}
.tier-btn{
    width: 11%;
    font-size: 12px;
    padding: 0px 12px 0px 12px;
    background: none;
    border: none;
    border-right: 1px solid var(--border-a);
    color: var(--bg-text);
    font-weight: bold;
    cursor: pointer;
}
.quality{
    color: var(--red);
    padding: 0.5rem;
    text-align: left;
}
.input:hover, .input:focus, .tier-btn span:hover{
    opacity: 0.8;
}
.search{
    background: none;
    cursor: pointer;
    padding: 12px;
    border-left: 1px solid var(--border-a);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.search:hover{
    opacity: 0.5;
}
.back-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 98%;
    max-width: 1200px;
    margin: auto;
    padding-top: 15px;
}
.btn-back{
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    width: 130px;
    padding: 8px;
    color: var(--sub-color);
    background-color: var(--main-color);
    border: 1px solid var(--border);
    border-radius: 5px;
}
.btn-back:hover{
    opacity: 0.4;
}
.datalist{
    display: none;
    position: absolute;
    top: 50px;
    left: 121px;
    width: 89%;
    max-height: 30%;
    border: 1px solid var(--border);
    background-color: var(--alert-opacity);
    border-radius: 0 0 5px 5px;
    padding: 5px;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.tierList{
    display: none;
    padding: 0.5rem;
    list-style: none;
    position: absolute;
    width: 85%;
    top: 50px;
    left: 0;
    z-index: 1;
    border-radius: 8px;
    background-color: var(--alert-opacity);
    box-shadow: 0px 2px 12px 0px var(--border);
}
.tierList li{
    padding: 0.2rem 0.2rem;
}
.tierList li:hover{
    background-color: var(--li-hover);
}
.list{
    list-style: none;
    font-size: 14px;
    text-align: left;
    width: 99%;
    color: #eee;
    padding: 10px 5px;
    border-radius: 6px;
}
.list li{
    cursor: pointer;
}
.list img{
    width: 50px;
    height: 50px;
}
.lihover{
    color: var(--bg-text);
    background-color: var(--li-hover);
}
.radio-div{
    gap:10px;
    padding-bottom : 15px;
    border-bottom : 1px solid var(--border);
}
.tableImage{
    width: 50px;
    height: 50px;
}
.table{
    width: 100%;
    border: none;
    text-align: right;
    font-size: 12px;
}
.table thead th, .table tbody td:nth-child(1) {
    font-weight: 500;
    color: var(--white);
}
.table tbody td{
    color: var(--bg-text);
}
.table tbody tr:hover{
    color: var(--black);
    background-color: var(--itemblack);
}
.table tbody tr td:nth-child(1), .table thead tr th:nth-child(1) {
    padding-right: 20px;
    border-right: 2px solid var(--gray);
}
.table thead tr th{
    border-bottom: 1px solid var(--gray);
}
.table thead tr th:last-child{
    padding-right: 10px;
}
.table tbody td:last-child{
    padding-right: 10px;
}
.rankTable{
    width: 100%;
    font-size: 10px;
}
.rankTable thead tr th{
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
}
.rankTable tbody tr{
    border-bottom: 1px solid var(--gray);
}
.img{
    width : 40px;
    height : 40px;
}

.c1{width:12%;}
.c2{width:22%;}
.c3{width:22%;}
.c4{width:22%;}
.c5{width:22%;}

.selected{
    background-color: var(--li-hover);
}
.info-message{
    color: var(--bg-text);
    font-size: 11px;
}
.jconfirm.jconfirm-supervan .jconfirm-box {
    width: 50%;
}
.cityTitle{
    font-size: 14px;
}
.hide{
    display: none;
}
.padding{
    padding: 20px;
}
.background-2{
    border-radius: 4px;
    background-color: var(--background-2);
}
.margin-b{
    margin-bottom: 10px;
}
.w-8{
    width:80%;
}
.w-2{
    width:20%;
}
.w-7{
    width:70%;
}
.w-3{
    width:30%;
}
.subTitle{
    font-size: 14px;
}
.medal{
    font-size: 15px;
}
@media screen and (max-width: 1024px) {
    .datalist{
        left: 88px;
    }
    .container{
        width: 95%;
        gap: 15px;
    }
    .input{
        width:95%;
    }
    .btn-back{
        font-size: 18px;
        padding: 15px 35px;
        margin-left: 10px;
    }
    .back-div{
        margin: 0;
    }
    .tier-btn{
        width: 15%;
    }
}


