.image-maindiv{
    background-image: url(/image/background-image-battle.jpeg);
    background-repeat: repeat;
    height: auto;
    min-height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.sub-chart-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    padding: 0 12px;
    margin: 1vw;
}
.chart{
    margin: 1vw;
}
.chart-div{
    width: 500px;
    max-height: 400px;
}
@media screen and (max-width: 1024px) {
    .chart-div{
        width: 1000px;
        max-height: 400px;
    }
}