.image-maindiv{
    position: relative;
    background-image: url(/static/image/background-image-calculator.jpeg);
    height: auto;
    min-height: 100%;
    background-repeat: repeat;
}
a{
    text-decoration:none;
}
p{
    margin-bottom: 5px;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 10px auto 5vh;
    align-items: normal;
}
.gap{
    gap: 10px;
}
.flex-column{
    display:flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.align-item-center{
    align-items: center;
}
.background{
    padding: 15px;
    background-color: var(--sub-color-a);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #000000;
}
input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--sub-color);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
label{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.content-div{
    display:inline;
}
.menu-message p{
    margin: 0;
}
.link{
    color: var(--bg-text);
}
.space-between{
    justify-content: space-between;
}
.space-center{
    justify-content: center;
}
.margin-b{
    margin-bottom: 15px;
}
.title-div{
    text-align: center;
    width: 25%;
    display: inline;
    padding: 5px 5px 5px 0px;
}
.title{
    font-size: 14px;
}
.content-div{
    text-align: left;
    width:100%;
}
.left{
    font-size: 14px;
    padding-left: 10px;
    text-align: left;
}
.maximum{
    width: 100%;
}
input {
    color: var(--table-sub-text-color);
    background-color: var(--main-color);
    border: 1px solid var(--border);
    box-sizing: border-box;
    padding: 5px 5px;
    border-radius: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
ul {
    list-style: none;
    display: inline;
}

.btn {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    background: var(--btn-bg);
    text-shadow: none;
    border: 2px solid var(--border);
    color: var(--sub-color);
    padding: 7px 14px;
    text-align: center;
}
.btn:hover {
    background-color: var(--btn-hover);
    color: var(--main-color);
}

table{
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    table-layout: auto;
    box-shadow: 0 0 10px 0 var(--border);

}
th{
    font-weight: bold;
    padding: 10px 0px;
}
table tbody tr:last-child td{
    border-bottom: 0;
}
td{
    padding: 0 10px;
    
}
tr{
    border-bottom: 1px dashed var(--border-bottom);
}
td img{
    width: 3vw;
    height: 3vw;
}
.back-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 1300px;
    padding-top: 15px;
    margin: 0 auto;
}
.btn-back{
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    width: 130px;
    padding: 8px;
    color: var(--sub-color);
    background-color: var(--main-color);
    border: 1px solid var(--border);
    border-radius: 5px;
}
.btn-back:hover{
    opacity: 0.4;
}

@media screen and (max-width: 1024px) {
    .flex-column{
        padding: 10px;
    }
}