.image-maindiv{
    position: relative;
   /* background-image: url(/static/image/background-image-calculator.jpeg); */
    background-image: url(/image/background-image-calculator.jpeg);
    height: auto;
    min-height: 100%;
    background-repeat: repeat;
}
a{
    text-decoration:none;
}
p{
    margin-bottom: 5px;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 10px auto 5vh;
    align-items: normal;
}
.flex-start{
    justify-content: flex-start;
}
.align-item-center{
    align-items: center;
}
.background{
    padding: 15px;
    background-color: var(--sub-color-a);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #000000;
}
input[type='radio']:not(.switchBtn) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
label{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.content-div{
    display:inline;
}
.menu-message p{
    margin: 0;
}
.link{
    color: var(--bg-text);
}
.space-between{
    justify-content: space-between;
}
.space-center{
    justify-content: center;
}
.title-div{
    text-align: center;
    width: 25%;
    display: inline;
    padding: 5px 0px 5px 0px;
}
.title{
    font-size: 14px;
}
.content-div{
    text-align: left;
    width:100%;
}
.left{
    font-size: 14px;
    padding-left: 10px;
    text-align: left;
}
.maximum{
    width: 100%;
}
input {
    color: var(--table-sub-text-color);
    background-color: var(--main-color);
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-radius: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
ul {
    list-style: none;
    display: inline;
}
.btn {
    width: 10%;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    background: var(--btn-bg);
    text-shadow: none;
    border: 2px solid var(--border);
    color: var(--sub-color);
    padding: 7px 20px;
    text-align: center;
}
.btn:hover {
    background-color: var(--btn-hover);
    color: var(--main-color);
}

table{
    text-align: center;
    width: 100%;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0px 10px;
}
th{
    font-size: 0.9rem;
    color: var(--bg-text);
    font-weight: bold;
    padding: 10px;
}
td{
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0 10px;
}
td:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
td:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
tbody tr{
    padding: 15px;
    background-color: var(--sub-color-a);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #000000;
}
tbody tr:hover{
    cursor: pointer;
    opacity: 0.6;
}
tr{
    text-align: left;
}
td img{
    width: 3vw;
    height: 3vw;
}
.back-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 1300px;
    padding-top: 15px;
    margin: 0 auto;
}
.btn-back{
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    width: 130px;
    padding: 8px;
    color: var(--sub-color);
    background-color: var(--main-color);
    border: 1px solid var(--border);
    border-radius: 5px;
}
.btn-back:hover{
    opacity: 0.4;
}
.text-left{
    text-align: left;
}
.padding{
    padding: 20px;
}
.border{
    border: 1px solid white;
    border-radius: 4px;
}
.space-between{
    justify-content: space-between;
}
.grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.col0{ width: 10%;}
.col0-1{ width: 10%;}
.col1{ width: 9%;}
.col2{ width: 7%;}
.col3{ width: 27%;}
.col4{ width: 27%;}
.col5{ width: 5%;}
.col6{ width: 5%;}
label{
    font-size: 0.8rem;
}
.chekcbox-div{
    padding: 0px 5px 0px 5px;
}
input[type="checkbox"]:not(.switchBtn) {
    width: 0.9rem;
    height: 0.9rem;
    accent-color: var(--border);
}
.pagination a:not(.nowPage){
    cursor:pointer;
    font-size: 1em;
    color: var(--white);
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 5px;
}
.active{
    display: block;
}
.nonActive{
    display: none;
}
.nowPage{
    cursor:pointer;
    font-size: 1em;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 5px;
    background-color: var(--border);
    color: var(--black);
}
.pagination a:hover:not(.nowPage) {
    background-color: var(--border);
    color: var(--black);
}
.flex-end{
    justify-content: flex-end;
}
.flex-center{
    justify-content: center;
}
.rule{
    text-align: left;
    margin: 2px;
}
.w-6{
    width: 60%;
}
.w-4{
    width: 40%;
}
.inline{
    display: flex;
}
@media screen and (max-width: 1024px) {
    .flex-column{
        padding: 10px 0px;
        width: 100%;
    }
    .flex-row {
        flex-wrap: wrap;
        width: 100%;
    }
    td{
        font-size: 15px;
        padding: 10px 10px;
    }
    td img {
        width: 5vw;
        height: 5vw;
    }
    .col0{
        width:15%;
    }
    .col0-1{
        width:15%;
    }
    .col4{ width: 20%;}
    .rule{
        font-size: 14px;
    }
    label{
        font-size: 1.2rem;
    }
    .title{
        font-size: 1.2rem;
        text-align: left;
    }
    input[type='radio']:not(.switchBtn) {
        width: 20px;
        height: 20px;
    }
    .btn {
        width: 15%;
        font-size: 16px;
    }
}
