<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="/js/variable.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <!-- <script type="text/javascript" src="/static/js/variable.js"></script>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/calculator/cooking.js"></script>
    <link rel="stylesheet" href="/static/css/editor.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="stylesheet" href="/static/css/loading.css" />
    <link rel="stylesheet" href="/static/css/calculator.css" /> -->


    <script type="text/javascript" src="/js/calculator/cooking.js"></script>
    <script type="text/javascript" src="/js/util.js"></script>
    <link rel="stylesheet" href="/css/variable.css" />
    <link rel="stylesheet" href="/css/editor.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/calculator.css" />
    <link rel="stylesheet" href="/css/loading.css" />

    <meta charset="UTF-8">
    <title>알비온 GG - 요리 ⚔</title>
</head>

<body data-theme="light-mode">
<script type="text/javascript" src="/js/toggle.js"></script>
<div class="image-maindiv">
<div th:replace="~{header :: header}"></div>
    <div class="main">
        <div class="all-menu">
            <div class="menu-message">
                <p>※ 실시간 시장가격, 자원반환(%) 소수점.. 등 여러 변수로 약간의 오차는 발생할 수 있습니다.</p>
                <p>※ 계산식에 문제가 있을시 <a class="link" href="/toinquire" target="_blank">피드백(새
                        창)</a>에 글을 남겨주세요.</p>
                <p class="red">
                    ※ 아발로니안 에너지는 반환되지 않기 때문에 반환율에 포함되어 계산되지 않습니다.
                </p>
            </div>

            <div class="menu">
                <div class="menu-item">
                    <p>🔻서버 선택</p>
                    <input type="radio" id="server01" name="server" value="east" checked />
                    <label for="server01">아시아</label>
                    <input type="radio" id="server02" name="server" value="west" />
                    <label for="server02">아메리카</label>
                    <input type="radio" id="server03" name="server" value="europe" />
                    <label for="server03">유럽</label>
                </div>
                <div class="menu-item menu-item-tier">
                    <p>🔻건물 소비 영양 100당 사용료 <span class="tooltip" data-info="tooltipArea_02">?</span></p>
                    <input class="input-number" type="number" id="usageFee" name="usageFee" placeholder="소비 영양 100당 사용료"
                        min="0" max="9999" value="0" />
                </div>

                <div class="menu-item menu-item-tier">
                    <p>🔻자원 반환 비율 <span class="tooltip" data-info="tooltipArea_03">?</span></p>
                    <input class="input-number" type="number" id="returnRate" name="returnRate"
                        placeholder=" '%' 제외하고 입력" min="0" max="100" value="0" />
                </div>

                <div class="menu-item ">
                    <p>🔻요리 재료 구매 & 판매 도시</p>
                    <select id="start">
                        <option value="martlock">마트록</option>
                        <option value="thetford">뎃포드</option>
                        <option value="fortsterling">포트스털링</option>
                        <option value="lymhurst">림허스트</option>
                        <option value="bridgewatch">브릿지워치</option>
                        <option value="caerleon">칼레온</option>
                        <option value="brecilien">브리실리안</option>
                    </select>
                </div>

                <div class="menu-item">
                    <div>
                        <p>🔻마켓 세금(수수료) <span class="tooltip" data-info="tooltipArea_04">?</span></p>
                        <!-- <input type="checkbox" id="premium" name="premium" />
                        <label for="premium"></label>
                        <label for="premium">프리미엄</label> -->
                        <div class="taxArea">
                            <label class="taxLabel" for="marketTaxBuy">구매 수수료</label>
                            <select id="marketTaxBuy">
                                <option value="0">즉시 구매</option>
                                <option value="0.025">2.5%</option>
                                <option value="0.04">4%</option>
                                <option value="0.065">6.5%</option>
                                <option value="0.08">8%</option>
                                <option value="0.105">10.5%</option>
                            </select>
                        </div>
                        <div class="taxArea">
                            <label class="taxLabel" for="marketTaxSell">판매 수수료</label>
                            <select id="marketTaxSell">
                                <option value="0.025">2.5%</option>
                                <option value="0.04">4%</option>
                                <option value="0.065">6.5%</option>
                                <option value="0.08">8%</option>
                                <option value="0.105">10.5%</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu">
                <div class="grid-2fr menu-item menu-item-tier">
                    <p>🔻운명보드 레벨 설정 <span class="tooltip" data-info="tooltipArea_01">?</span></p>
                    <div>
                        <label class="taxLabel" for="chef">셰프</label>
                        <input class="input-number" type="number" id="chef" min="0" max="100" value="0" />
                    </div>
                    <div>
                        <label class="taxLabel" for="butcher">도살 업자</label>
                        <input class="input-number" type="number" id="butcher" min="0" max="100" value="0" />
                    </div>
                    <div>
                        <label class="taxLabel" for="material">재료 셰프</label>
                        <input class="input-number" type="number" id="material" min="0" max="100" value="0" />
                    </div>
                    <div>
                        <label class="taxLabel" for="sandwich">샌드위치 셰프</label>
                        <input class="input-number" type="number" id="sandwich" min="0" max="100" value="0" />
                    </div>
                    <div>
                        <label class="taxLabel" for="stew">스튜 셰프</label>
                        <input class="input-number" type="number" id="stew" min="0" max="100" value="0" />
                    </div>
                    <div>
                        <label class="taxLabel" for="omelette">오믈렛 셰프</label>
                        <input class="input-number" type="number" id="omelette" min="0" max="100" value="0" />
                    </div>
                    <div>
                        <label class="taxLabel" for="roast">로스트 셰프</label>
                        <input class="input-number" type="number" id="roast" min="0" max="100" value="0" />
                    </div>
                    <div>
                        <label class="taxLabel" for="pie">파이 셰프</label>
                        <input class="input-number" type="number" id="pie" min="0" max="100" value="0" />
                    </div>
                    <div>
                        <label class="taxLabel" for="salad">샐러드 셰프</label>
                        <input class="input-number" type="number" id="salad" min="0" max="100" value="0" />
                    </div>
                    <div>
                        <label class="taxLabel" for="soup">수프 셰프</label>
                        <input class="input-number" type="number" id="soup" min="0" max="100" value="0" />
                    </div>
                </div>

                <div class="menu-item">
                    <a class="btn" id="request-price-btn">가격 받아오기</a>
                </div>
            </div>
        </div>

        <div class="priceArea">
            <div class="image-div">
                

            </div>

            <!-- 테이블 폼 -->

            <div class="table-div-cooking" id="cooking_table">
                <span class="qunatityArea">
                    <input type="number" id="quantity" name="quantity" placeholder="n" min="1" value="1" />
                    개 단위로 보기
                </span>
                <div class="flex-row-div">
                    <table class="main-table">
                        <colgroup>
                            <col class="col1">
                            <col class="col9">
                            <col class="col5">
                            <col class="col9">
                            <col class="col2">
                            <col class="col7">
                            <col class="col8">
                            <col class="col9">
                        </colgroup>
                        <thead>
                            <tr class="table-header">
                                <th>아이템</th>
                                <th>판매가격<br />
                                    <p class="priceDetail">(최저가)</p>
                                </th>
                                <th>만들기위한재료<p class="priceDetail">(필요 재료)</p>
                                </th>
                                <th>재료 값<br />
                                    <p class="priceDetail">(모두 합한 가격)</p>
                                </th>
                                <th>필요한 집중<br />
                                    <p class="priceDetail">(반환 비율 포함)</p>
                                </th>
                                <th>총 재료 비용<p class="priceDetail">(구매가)</p>
                                </th>
                                <th>판매가</th>
                                <th>이익</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                    <table class="sub-table">
                        <caption>재료 가격표</caption>
                        <colgroup>
                            <col class="col1">
                            <col class="col2">
                            <col class="col6">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>아이템</th>
                                <th>판매가격<br />
                                    <p class="priceDetail">(최저가)</p>
                                </th>
                                <th>개수<p class="priceDetail">(1회 기준)</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div> <!-- main -->






    <!-- 운명 보드 설정 -->
    <div id="tooltipArea_01">
        <div id="info01">
            <h3>운명보드 레벨 설정</h3>
            <div>
                <p>1. 인게임 내에서 단축키 B를 누른다.</p>
                <p>2. 운명보드 셰프를 포함한 하위 9개 노드레벨들을 모두 입력한다.</p>
                <p>ex) 아래와 레벨이 같을 때 입력 방법</p>
                <div style="display: flex; gap: 50px;">
                    <table>
                        <thead>
                            <tr>
                                <th>운명보드 이름</th>
                                <th>레벨</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>셰프</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>도살 업자</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>재료 셰프</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>샌드위치 셰프</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>스튜 셰프</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>오믈렛 셰프</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>로스트 셰프</td>
                                <td>35</td>
                            </tr>
                            <tr>
                                <td>파이 셰프</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>샐러드 셰프</td>
                                <td>45</td>
                            </tr>
                            <tr>
                                <td>수프 셰프</td>
                                <td>50</td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="/image/cooking_destiny_info.PNG" width="200" height="300">
                </div>
            </div>
        </div>
    </div>

    <!-- 영양 100당 사용료 -->
    <div id="tooltipArea_02">
        <div id="info02">
            <img style="text-align: center;" src="/image/refining_usageFee_info.PNG" width="200" height="480">
            <p>1. 요리하고자 하는 요리사 건물에 갑니다.</p>
            <p>2. 이미지와 같이 소비영양 100당 사용료를 입력하면 됩니다.</p>
        </div>
    </div>

    <!-- 자원반환 비율 -->
    <div id="tooltipArea_03">
        <img src="/image/refining_returnRate_info.PNG" />
        <p>1. 요리 건물로 가서 만들고자하는 요리를 클릭.</p>
        <p>2. 빨간색 박스 부분의 값('%' 제외)을 입력.</p>
    </div>

    <!-- 마켓 수수료 -->
    <div id="tooltipArea_04">
        <img src="/image/refining_markettaxbuy_info.PNG" />
        <img src="/image/refining_markettaxsell_info.PNG" />
        <p>구매: 왼쪽 사진의 수수료</p>
        <p>판매: 오른쪽 사진의 수수료(프리미엄이 없을시에도 이미지와 같은 위치에 있는 수수료를 입력)</p>
    </div>

    <div id="blackArea">
        <div id="loading">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>

            <h1>정보 요청중..</h1>
        </div>
    </div>


    <div class="footer">
        <span>All <a href="https://albiononline.com/news" target="_blank" style="text-decoration: underline;">Albion
                Online</a> related materials are property of <a href="https://albiononline.com/imprint" target="_blank"
                style="text-decoration: underline;">Sandbox Interactive GmbH</a></span>
        <span>Prices are provided by the <a href="https://www.albion-online-data.com/" target="_blank"
                style="text-decoration: underline;">Albion Online Data Project</a></span>
    </div>
</div>
</body>

</html>