<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/util.js"></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/loading.css" />

    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 - 포션 ⚔</title>
</head>
<body data-theme="light-mode">
<script type="text/javascript" src="/js/toggle.js"></script>
    <div class="header">
        <a class="header-logo" href="/">⚔ 알비온 헬퍼</a>
        <label class="switch">
            <input class="switchBtn" role="switch" type="checkbox" />
            <span>다크 모드</span>
        </label>
    </div>

    <div class="main">




    </div> <!-- main -->

    <div id="blackArea">
        <div id="loading">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>

            <h1>정보 요청중..</h1>
        </div>
    </div>


    <div class="footer">
        <span>All <a href="https://albiononline.com/news" target="_blank" style="text-decoration: underline;">Albion Online</a> related materials are property of <a href="https://albiononline.com/imprint" target="_blank" style="text-decoration: underline;">Sandbox Interactive GmbH</a></span>
        <span>Prices are provided by the <a href="https://www.albion-online-data.com/" target="_blank" style="text-decoration: underline;">Albion Online Data Project</a></span>
    </div>
</body>
</html>
