<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!--    <script type="text/javascript" src="/static/js/board.js"></script>-->
<!--    <link rel="stylesheet" href="/static/css/index.css" />-->
<!--    <link rel="stylesheet" href="/static/css/loading.css" />-->
<!--     <link rel="stylesheet" href="/static/css/board.css" />-->
    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/board/board.js"></script>
    <link rel="stylesheet" href="/css/loading.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/detail.css"/>
    <link rel="stylesheet" href="/css/board.css"/>
    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 - 게시판 ⚔</title>
</head>
<body data-theme="light-mode">
<script type="text/javascript" src="/js/toggle.js"></script>

<div class="header">
    <a class="header-logo link" href="/">⚔ 알비온 헬퍼</a>
    <label class="switch">
        <input class="switchBtn" role="switch" type="checkbox" />
        <span>다크 모드</span>
    </label>
</div>

<div class="board-header-detail">
    <div class="header-left">
        <a href="/" class="btn-header">뒤로</a>
    </div>
    <div class="header-center">
        <h3 class="board-header-title">🌈 게시판</h3>
    </div>
    <div class="header_right">
        <a href="/" class="btn-header visibility">뒤로</a>
    </div>
</div>


<div class="board-header">
    <p class="board-header-sub">🎈자유롭게 아무글을 작성해도 좋습니다🎈</p>

    <div class="board-header-flex-subDiv">
        <ul class="board-header-left-subDiv">
            <span>카테고리</span>
            <!-- 카테고리를 클릭했을때 해당하는 것을 보여줘야해 -->
            <li th:classappend="${#strings.equals(category, '전체')}? clicked" class="category" onclick="clickedCategory(this)" value="전체">전체</li>
            <li th:classappend="${#strings.equals(category, '일반')}? clicked" class="category" onclick="clickedCategory(this)" value="일반">일반</li>
            <li th:classappend="${#strings.equals(category, '공략')}? clicked" class="category" onclick="clickedCategory(this)" value="공략">공략</li>
            <li th:classappend="${#strings.equals(category, '친선')}? clicked" class="category" onclick="clickedCategory(this)" value="친선">친선</li>
        </ul>
        <div class="board-header-right-subDiv">
            <div class="dropdown">
                <button class="showRows-button">게시글 수 🔻</button>
                <div class="dropdown-content">
                    <a href="/board?page=0&size=10">10개</a>
                    <a href="/board?page=0&size=20">20개</a>
                    <a href="/board?page=0&size=30">30개</a>
                    <a href="/board?page=0&size=40">40개</a>
                </div>
            </div>
            <a href="/board/write" class="write-button">📝글쓰기</a>
        </div>

    </div>
</div>


<div class="main">
    <div class="centered">
        <table>
            <colgroup>
                <col class="col1">
                <col class="col2">
                <col class="col3">
                <col class="col4">
                <col class="col5">
                <col class="col6">
                <col class="col7">
            </colgroup>
            <thead>
            <tr>
                <th scope="row">번호</th>
                <th scope="row">분류</th>
                <th scope="row">제목</th>
                <th scope="row">글쓴이</th>
                <th scope="row">작성일</th>
                <th scope="row">조회수</th>
                <th scope="row">추천</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board: ${list}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.category}"></td>
                <td>
                    <a th:href="@{/board/detail(id=${board.id})}">
                        <span class="board-title" th:text="${board.title}"></span>
                        <span class="comments-number" th:if="${board.commentCount > 0}" th:text="|[${board.commentCount}]|"></span>
                    </a>
                </td>
                <td th:text="${board.nickname}"></td>

                <td th:if="${#temporals.format(board.write_date, 'yyyy/MM/dd')} == ${#temporals.format(#temporals.createNow(), 'yyyy/MM/dd')}">
                    [[${#temporals.format(board.write_date, 'HH:mm')}]]
                </td>
                <td th:unless="${#temporals.format(board.write_date, 'yyyy/MM/dd')} == ${#temporals.format(#temporals.createNow(), 'yyyy/MM/dd')}">
                    [[${#temporals.format(board.write_date, 'yyyy/MM/dd')}]]
                </td>
                <td th:text="${board.view_count}"></td>
                <td th:text="${board.updown}"></td>
            </tr>
            </tbody>
        </table>
        <div class="centered-pagination">
            <div class="pagination">
                <a th:href="@{/board?(page=${firstPage},size=${size})}">&laquo;&laquo;</a>
                <a th:href="@{/board?(page=${startPageNum-1},size=${size})}">&lt;</a>

<!--                    <a href="#" th:text="${startPageNum}"></a>-->
<!--                    <a href="#" th:text="${endPageNum}"></a>-->
                <th:block th:each="i : ${#numbers.sequence(startPageNum, endPageNum - 1)}">
                    <th:block th:if="${i == pickPage}">
                        <a class="nowPage" th:href="@{/board?(page=${i},size=${size})}" th:text="${i+1}"></a>
                    </th:block>
                    <th:block th:unless="${i == pickPage}">
                        <a th:href="@{/board?(page=${i},size=${size})}" th:text="${i+1}"></a>
                    </th:block>
                </th:block>

                <a th:href="@{/board?(page=${endPageNum},size=${size})}">&gt;</a>
                <a th:href="@{/board?(page=${lastPage - 1},size=${size})}">&raquo;&raquo;</a>

              </div>
        </div>
    </div>
</div>

<div id="blackArea">
    <div id="loading">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>

        <h1>정보 요청중..</h1>
    </div>
</div>

</body>
</html>