<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- https://quilljs.com/docs/quickstart - quilljs 에디터 CDN-->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <!-- supabase -->
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>

   <!--<script type="text/javascript" src="/static/js/boardDetail.js"></script>
   <script type="text/javascript" src="/static/js/util.js"></script>
   <link rel="stylesheet" href="/static/css/index.css" />
   <link rel="stylesheet" href="/static/css/loading.css" />
   <link rel="stylesheet" href="/static/css/board.css" />-->
    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/boardDetail.js"></script>
    <link rel="stylesheet" href="/css/loading.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/detail.css"/>
    <link rel="stylesheet" href="/css/board.css"/>
    <link rel="stylesheet" href="/css//editor.css"/>
    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 ⚔</title>
</head>

<body>
<div class="header">
    <a class="header-logo" href="/">⚔ 알비온 헬퍼</a>
</div>


<div class="board-header-detail">
    <div class="header-left">
        <a href="/board" class="btn-header">뒤로</a>
    </div>
    <div class="header-center">
        <h3 class="board-header-title">🌈 게시판</h3>
    </div>
    <div class="header_right">
<!--        <a id="modifyBtn" class="btn-header-right">수정</a>-->
        <a id="deleteBtn" class="btn-header-right">삭제</a>
    </div>
</div>

<div class="board-title-div">
    <hr/>
    <p>📢 홍보, 도배, 현거래 금지</p>
    <p>📢 명예훼손, 혐오, 음란물 금지</p>
    <hr/>
</div>

<div class="centered">
    <h4 th:text="|[${board.category}] ${board.title}|"></h4>
    <div class="title">
        <div class="title-left">
            <span th:text="|${board.nickname}"></span>
            <span> | </span>
            <span th:text="${#temporals.format(board.write_date, 'MM.dd HH:mm:ss')}"></span>

        </div>
        <div class="title-right">
            <span>조회 [[${board.view_count}]]</span>
            <span>추천 [[${board.updown}]]</span>
            <span>댓글 [[${#lists.size(comments)}]]</span>
        </div>
    </div>

    <!-- 게시글 내용  -->
    <div class="contents" th:utext="${board.contents}">

    </div>
    
    <div class="updown-area-01">
        <p>추천</p>
    </div>
    <div class="updown-area">
        <a class="up">🔺</a>
        <span class="updown">[[${board.updown}]]</span>
        <a class="down">🔻</a>
    </div>

    <!-- 댓글 읽기 -->
    <div class="comment-read-area">
        <p style="color: RGB(28, 120, 153); font-weight: bold;">💬댓글 </p>
        <ul class="comment-list" >
            <!-- 댓글 -->
            <li th:if="${c.comment_group == null}" th:each="c : ${comments}" th:attrappend="id=${c.id}">
                <div class="comment">
                    <div class="left">
                        <span th:text="${c.nickname}">닉네임</span>
                    </div>
                    <div class="comment-contents">
                        <a class="showWriter" th:text="${c.comment}">댓글내용입니다.</a>
                    </div>
                    <div class="comment-time">
                            <span th:text="${#temporals.format(c.write_date, 'MM.dd HH:mm:ss')}">MM.dd HH:mm:ss</span>
                    </div>
                    <div class="comment-delete">
                        <a class="deleteCommentBtn">❌</a>
                        <input type="hidden" name="comment_id" th:value="${c.id}"/>
                        <input type="hidden" name="comment_pw" th:value="${c.password}" />
                    </div>
                </div>

                <th:block th:each="cc : ${comments}">
                    <th:block th:if="${c.id == cc.comment_group}">
                        <!-- 대댓글 -->
                        <div class="comment-comment">
                            <div class="left">
                                <span th:text="${cc.nickname}">닉네임</span>
                            </div>
                            <div class="comment-contents">
                                <p th:text="${cc.comment}">대댓글 내용입니다잇1</p>
                            </div>
                            <div class="comment-time">
                                <span th:text="${#temporals.format(cc.write_date, 'MM.dd HH:mm:ss')}">MM.dd HH:mm:ss</span>
                            </div>
                            <div class="comment-delete">
                                <a class="deleteCommentBtn" >❌</a>
                                <input type="hidden" name="comment_id" th:value="${cc.id}"/>
                                <input type="hidden" name="comment_pw" th:value="${cc.password}" />
                            </div>
                        </div>
                    </th:block>
                </th:block>


            </li>
        </ul>

    </div>
    <!-- 댓글 쓰기 div-->
    <div class="comment-write-area">
        <div class="comment-writer">
            <input class="board-password block" type="text" name="nickname" placeholder="닉네임 | 생략시 IP"
                   maxlength="16"/>
            <input class="board-password block" type="password" name="password" placeholder="비밀번호" maxlength="20"/>
        </div>
        <div class="comment-writer comment-area">
            <textarea class="comment-text" name="comment" cols="30" rows="5" placeholder="댓글.."></textarea>
            <a class="comment-submit">등록</a>
        </div>
    </div>
    <!-- 대댓글 입력 div-->
    <div style="display:none;">
        <div class="comment-comment-write-area" id="write-comment">
            <input type="hidden" name="board_id_c" th:value="${board.id}"/>
            <div class="comment-writer">
                <input class="board-password block" type="text" name="nickname_c" placeholder="닉네임 | 생략시 IP"
                       maxlength="16"/>
                <input class="board-password block" type="password" name="password_c" placeholder="비밀번호"
                       maxlength="20"/>
            </div>
            <div class="comment-writer comment-area">
                <textarea class="comment-text" name="comment_c" cols="30" rows="5" placeholder="댓글.."></textarea>
                <a class="comment-submit_c">등록</a>
            </div>
        </div>
    </div>

    <!-- 삭제 -->
    <form action="/board/delete" method="POST" id="deleteForm">
        <input type="hidden" name="id" th:value="${board.id}"/>
    </form>
    <!-- 수정 -->
    <!--<form action="/board/modify" method="GET" id="modifyForm">
        <input type="hidden" name="id" th:value="${board.id}"/>
    </form>-->

    <!-- 댓글 등록 전송폼. -->
    <form action="/board/registerComment" method="POST" class="form">
        <input type="hidden" id="h_board_id" name="board_id" th:value="${board.id}"/>
        <input type="hidden" id="h_nickname" name="nickname" value=""/>
        <input type="hidden" id="h_password" name="password" value=""/>
        <input type="hidden" id="h_comment" name="comment" value=""/>
        <input type="hidden" id="h_comment_group" name="comment_group" value=""/>
    </form>
</div>
</body>
</html>