<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- https://quilljs.com/docs/quickstart - quilljs 에디터 CDN-->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <!-- UUID -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>

    <!-- supabase -->
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>

    <!-- <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/board.js"></script>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/loading.css" />
    <link rel="stylesheet" href="/static/css/board.css" />
    <link rel="stylesheet" href="/static/css/editor.css" /> -->
    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/board.js"></script>
    <link rel="stylesheet" href="/css/loading.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/board.css"/>
    <link rel="stylesheet" href="/css//editor.css"/>
    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 - 게시판 작성 ⚔</title>
</head>

<body>
<div class="header">
    <a class="header-logo" href="/">⚔ 알비온 헬퍼</a>
</div>

<div class="board-header-detail">
    <div class="header-left">
        <a href="/board" class="btn-header">뒤로</a>
    </div>
    <div class="header-center">
        <h3 class="board-header-title">🌈 게시판</h3>
    </div>
    <div class="header_right">
        <a href="/" class="btn-header visibility">뒤로</a>
    </div>
</div>
<div class="board-title-div">
    <hr/>
    <p>📢 쉬운 비밀번호로 설정하면 글이 수정되거나 삭제될 수 있음</p>
    <p>📢 저작권, 초상권 침해되는 게시물은 책임져야할수도 있음</p>
    <p>📢 선넘는 비하, 혐오, 음란물 금지</p>
    <hr/>
</div>

<div class="centered">
    <p style="display:inline-block;">카테고리 선택 👉🏻</p>
    <ul class="board-category-ul">
        <li class="category clicked" onclick="clicked_Category(this)" value="일반">일반</li>
        <li class="category" onclick="clicked_Category(this)" value="공략">공략</li>
        <li class="category" onclick="clicked_Category(this)" value="친선">친선</li>
    </ul>
    <div>
        <input class="board-nickname-input" id="nickName" type="text" name="nickName" placeholder="닉네임 | 생략시 IP" maxlength="16" />
        <input class="board-title-input" id="title" type="text" name="title" placeholder="제목" />
    </div>
    <p class="title-warning-message">제목을 입력해주세요.</p>

    <div class="editor-div">
        <!-- Editor -->
        <div id="editor" >
        </div>
        <input type="hidden" id="hidden_input" name="content">
    </div>
</div>
<div class="board-submit-div">
    <span class="password-warning-message">비밀번호를 입력해주세요...</span>
    <input class="board-password" id="password" type="password" name="password"
           placeholder="게시글 비밀번호" autocomplete="new-password" maxlength="20">
    <a href="#" class="btn cancel">취소</a>
    <a href="#" class="btn submit">작성</a>
</div>

<div id="blackArea">
    <div id="loading">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>

        <h1>작성중..</h1>
    </div>
</div>

<form action="/board/register" method="POST" id="submitForm">
    <input type="hidden" id="h_category" name="category"/>
    <input type="hidden" id="h_nickName" name="nickname"/>
    <input type="hidden" id="h_title" name="title"/>
    <input type="hidden" id="h_password" name="password"/>
    <input type="hidden" id="h_contents" name="contents"/>
</form>
</body>

<script>

</script>

</html>