<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>


    <!-- <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/battle/battleboard.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css" />
    <link rel="stylesheet" href="/static/css/editor.css" />
    <link rel="stylesheet" href="/static/css/loading.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="stylesheet" href="/static/css/battle/battleboardDetail.css" /> -->

    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="js/battle/battleboard.js"></script>
    <link rel="stylesheet" href="/css/variable.css" />
    <link rel="stylesheet" href="/css/editor.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/battle/battleboardDetail.css" />
    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 ⚔</title>
</head>
<body data-theme="light-mode">
<script type="text/javascript" src="/js/toggle.js"></script>

<div class="header">
    <a class="header-logo link">⚔ 알비온 헬퍼</a>
    <label class="switch">
        <input class="switchBtn" role="switch" type="checkbox" />
        <span>다크 모드</span>
    </label>
</div>

<div>
    <div class="back-div">
        <a class="btn text-center" href="javascript:history.back();">목록으로</a>
    </div>
    <div class="container-title">
        <h6>전투 기록</h6>
    </div>
    <div class="container">
        <div class="flex-row flex-wrap flex-center gap">
            <div class="top-table-div">
                <span class="table-title">동맹</span>
                <table class="table">
                    <colgroup>
                        <col class="col1">
                        <col class="col2">
                        <col class="col3">
                        <col class="col4">
                        <col class="col5">
                        <col class="col6">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>동맹 태그명</th>
                        <th>참여 인원</th>
                        <th>킬</th>
                        <th>데스</th>
                        <th>페임</th>
                        <th>아이템 파워(IP)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alliance : ${alliances}">
                        <td th:text="${alliance.name}"></td>
                        <td th:text="${alliance.playerCount}"></td>
                        <td th:text="${alliance.kills}"></td>
                        <td th:text="${alliance.deaths}"></td>
                        <td th:text="${alliance.killFame}"></td>
                        <td>1500</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="top-table-div">
                <span class="table-title">길드</span>
                <table class="table">
                    <colgroup>
                        <col class="col1">
                        <col class="col2">
                        <col class="col3">
                        <col class="col4">
                        <col class="col5">
                        <col class="col6">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>길드명</th>
                        <th>참여 인원</th>
                        <th>킬</th>
                        <th>데스</th>
                        <th>페임</th>
                        <th>아이템 파워(IP)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="guild : ${guilds}">
                        <td th:text="${guild.name}"></td>
                        <td th:text="${guild.playerCount}"></td>
                        <td th:text="${guild.kills}"></td>
                        <td th:text="${guild.deaths}"></td>
                        <td th:text="${guild.killFame}"></td>
                        <td>1500</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>   <!-- flex-row -->

<!--         TODO : 요기 어떻게 처리해줄지 생각해보자. -->
        <div class="flex-row flex-wrap flex-center gap">
            <div class="middle-table-div">
                <span class="table-title">플레이어</span>
                <table class="table">
                    <colgroup>
                        <col class="col1">
                        <col class="col2">
                        <col class="col3">
                        <col class="col4">
                        <col class="col5">
                        <col class="col6">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>닉네임</th>
                        <th>무기</th>
                        <th>킬</th>
                        <th>데스</th>
                        <th>페임</th>
                        <th>아이템 파워(IP)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>EZ1v1</td>
                        <td></td>
                        <td>3</td>
                        <td>0</td>
                        <td>1234</td>
                        <td>1500</td>
                    </tr>
                    <tr>
                        <td>EZ1v1</td>
                        <td></td>
                        <td>3</td>
                        <td>0</td>
                        <td>1234</td>
                        <td>1500</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex-row flex-wrap flex-center gap">
            <div class="middle-table-div">
                <span class="table-title">킬로그</span>
                <table class="table kill-table">
                    <colgroup>
                        <col class="kill-col1">
                        <col class="kill-col2">
                        <col class="kill-col3">
                        <col class="kill-col4">
                        <col class="kill-col5">
                        <col class="kill-col6">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>죽인 사람</th>
                        <th>죽인 사람 아이템</th>
                        <th>ip</th>
                        <th>죽은 사람</th>
                        <th>죽은 사람 아이템</th>
                        <th>ip</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="eventList : ${eventList}">
                        <td>
                            <span th:text="|[${eventList.killer.allianceName}] ${eventList.killer.guildName}|"></span>
                            <br>
                            <b th:text="${eventList.killer.name}"></b>
                        </td>
                        <td th:with="k=${eventList.killer.equipment}">
                            <img th:if="${not #strings.isEmpty(k.mainHand)}"
                                 th:src="|https://render.albiononline.com/v1/item/${k.mainHand.type}?quality=${k.mainHand.quality}|" alt="미착용" />
                            <img th:if="${not #strings.isEmpty(k.offHand)}"
                                 th:src="|https://render.albiononline.com/v1/item/${k.offHand.type}?quality=${k.offHand.quality}|" alt="미착용" />
                            <img th:if="${not #strings.isEmpty(k.head)}"
                                 th:src="|https://render.albiononline.com/v1/item/${k.head.type}?quality=${k.head.quality}|" alt="미착용" />
                            <img th:if="${not #strings.isEmpty(k.armor)}"
                                 th:src="|https://render.albiononline.com/v1/item/${k.armor.type}?quality=${k.armor.quality}|" alt="미착용" />
                            <img th:if="${not #strings.isEmpty(k.shoes)}"
                                 th:src="|https://render.albiononline.com/v1/item/${k.shoes.type}?quality=${k.shoes.quality}|" alt="미착용" />
                            <img th:if="${not #strings.isEmpty(k.cape)}"
                                 th:src="|https://render.albiononline.com/v1/item/${k.cape.type}?quality=${k.cape.quality}|" alt="미착용" />
                        </td>
                        <td th:text="${eventList.killer.averageItemPower}"></td>
                        <td>
                            <span th:text="|[${eventList.victim.allianceName}] ${eventList.victim.guildName}|"></span>
                            <br>
                            <b th:text="${eventList.victim.name}"></b>
                        </td>
                        <td th:with="v=${eventList.victim.equipment}">
                            <img th:if="${not #strings.isEmpty(v.mainHand)}"
                                 th:src="|https://render.albiononline.com/v1/item/${v.mainHand.type}?quality=${v.mainHand.quality}|" alt="미착용"/>
                            <img th:if="${not #strings.isEmpty(v.head)}"
                                 th:src="|https://render.albiononline.com/v1/item/${v.head.type}?quality=${v.head.quality}|" alt="미착용"/>
                            <img th:if="${not #strings.isEmpty(v.armor)}"
                                 th:src="|https://render.albiononline.com/v1/item/${v.armor.type}?quality=${v.armor.quality}|" alt="미착용"/>
                            <img th:if="${not #strings.isEmpty(v.shoes)}"
                                 th:src="|https://render.albiononline.com/v1/item/${v.shoes.type}?quality=${v.shoes.quality}|" alt="미착용"/>
                            <img th:if="${not #strings.isEmpty(v.cape)}"
                                 th:src="|https://render.albiononline.com/v1/item/${v.cape.type}?quality=${v.cape.quality}|" alt="미착용"/>
                        </td>
                        <td th:text="${eventList.victim.averageItemPower}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>    

</div>

<div id="blackArea">
    <div id="loading">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <h1>정보 요청중..</h1>
    </div>
</div>


</body>
</html>
