<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

<!--    <script type="text/javascript" src="/js/variable.js"></script>-->
<!--    <script type="text/javascript" src="/js/util.js"></script>-->
<!--    <script type="text/javascript" src="/js/metabuild/tierList.js"></script>-->
<!--    <link rel="stylesheet" href="/css/variable.css"/>-->
<!--    <link rel="stylesheet" href="/css/board/editor.css"/>-->
<!--    <link rel="stylesheet" href="/css/index.css"/>-->
<!--    <link rel="stylesheet" href="/css/detail.css"/>-->
<!--    <link rel="stylesheet" href="/css/loading.css"/>-->
<!--    <link rel="stylesheet" href="/css/metabuild/tierList.css"/>-->

    <script type="text/javascript" src="/js/variable.js"></script>
    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/metabuild/tierList.js"></script>
    <link rel="stylesheet" href="/css/variable.css"/>
    <link rel="stylesheet" href="/css/board/editor.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/detail.css"/>
    <link rel="stylesheet" href="/css/loading.css"/>
    <link rel="stylesheet" href="/css/metabuild/tierList.css"/>

    <meta charset="UTF-8">
    <title>알비온 GG - 티어 리스트 ⚔</title>
</head>

<body data-theme="light-mode">
<script type="text/javascript" src="/jsMin/toggle.js"></script>
<div class="image-maindiv">
    <div th:replace="~{header :: header}"></div>
    <div>
        <div class="back-div">
            <a class="btn-back text-center" href="javascript:history.back();">뒤로 가기</a>
        </div>
        <div class="container">
            <div class="flex-column">
                <h2>🥇티어 리스트🥇</h2>
            </div>
            <div class="flex-column">
                <div class="flex-row margin-b gap">
                    <div class="flex-row align-item-center background">
                        <div class="title-div">
                            <span class="title">착용부위 선택</span>
                        </div>
                        <div class="content-div">
                            <input type="radio" id="weapon" name="range" value="7" checked/>
                            <label for="weapon">무기</label>
                            <input type="radio" id="armor" name="range" value="1"/>
                            <label for="armor">방어구</label>
                            <input type="radio" id="cape" name="range" value="2"/>
                            <label for="cape">망토</label>
                            <input type="radio" id="food" name="range" value="3"/>
                            <label for="food">푸드</label>
                            <input type="radio" id="mount" name="range" value="3"/>
                            <label for="mount">탈것</label>
                        </div>
                    </div>
                    <div class="flex-row align-item-center background">
                        <div class="title-div">
                            <span class="title">카테고리 선택</span>
                        </div>
                        <div class="content-div">
                            <div class="grid">
                                <div>
                                    <input class="radio" type="radio" id="all" name="situation" value="mist" checked/>
                                    <label for="all">전체</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="mist" name="situation" value="mist"/>
                                    <label for="mist">미스트</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="corrupted" name="situation" value="mist"/>
                                    <label for="corrupted">오던</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="small" name="situation" value="small"/>
                                    <label for="small">스몰</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="middle" name="situation" value="middle"/>
                                    <label for="middle">미들</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="zvz" name="situation" value="zvz"/>
                                    <label for="zvz">ZvZ</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="gank" name="situation" value="gank"/>
                                    <label for="gank">갱킹</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="gathering" name="situation" value="gathering"/>
                                    <label for="gathering">채집</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="transport" name="situation" value="transport"/>
                                    <label for="transport">운송</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="soloPVE" name="situation" value="soloPVE"/>
                                    <label for="soloPVE">솔로 페임</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="greenPVE" name="situation" value="greenPVE"/>
                                    <label for="greenPVE">PvE(녹던)</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="bluePVE" name="situation" value="bluePVE"/>
                                    <label for="bluePVE">PvE(파던)</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="staticPVE" name="situation" value="staticPVE"/>
                                    <label for="staticPVE">PvE(스태틱)</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="worldBossPVE" name="situation" value="worldBossPVE"/>
                                    <label for="worldBossPVE">PvE(월드보스)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
            </div>    

            <div class="flex-column">
                <div class="flex-row align-item-center space-between background margin-b">
                    <div class="flex-row">
                        <div class="chekcbox-div">
                            <input class="radio" type="radio" id="option1" name="options" />
                            <label for="option1">
                                <span>추천순</span>
                            </label>
                        </div>
                        <div class="chekcbox-div">
                            <input class="radio" type="radio" id="option2" name="options" />
                            <label for="option2">
                                <span>최신순</span>
                            </label>
                        </div>
                        <div class="chekcbox-div">
                            <input class="radio" type="radio" id="option3" name="options" />
                            <label for="option3">
                                <span>의견 많은순</span>
                            </label>
                        </div>
                    </div>
                    <a class="btn" href="/tierList/write">새로 작성</a>
                </div>
                <div class="flex-column">
                    <table>
                        <colgroup>
                            <col class="col0" />
                            <col class="col0-1" />
                            <col class="col1" />
                            <col class="col2" />
                            <col class="col3" />
                            <col class="col4" />
                            <col class="col5" />
                            <col class="col6" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>작성날짜</th>
                                <th>작성자</th>
                                <th>카테고리</th>
                                <th>착용 부위</th>
                                <th>제목</th>
                                <th>1티어</th>
                                <th>추천</th>
                                <th>의견</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2025-02-12</td>
                                <td>192.168.121.222</td>
                                <td>미스트</td>
                                <td>무기</td>
                                <td>미스트에서 무기티어 알려드립니다.</td>
                                <td>
                                    <img class="itemImg" src="/image/T3_POTION_ACID_4.png">
                                    <img class="itemImg" src="/image/T3_POTION_ACID_4.png">
                                    <img class="itemImg" src="/image/T3_POTION_ACID_4.png">
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    4개
                                </td>
                            </tr>
                            <tr>
                                <td>2025-02-12</td>
                                <td>192.168.121.2</td>
                                <td>PvE(월드보스)</td>
                                <td>탈것</td>
                                <td>갱킹 회피할때 탈것 리스트</td>
                                <td>
                                    <img class="itemImg" src="/image/T8_FARM_COW_GROWN.png">
                                    <img class="itemImg" src="/image/T6_FARM_SHEEP_GROWN.png">
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    3개
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- <div class="flex-column gap">
                    <div class="flex-row gap padding background tierListItem">
                        <div class="flex-column tier-title-div"> 
                            <span>무기 티어 리스트</span>
                            <div class="description-div">
                                <span>카테고리 : 미스트</span>
                                <span>부위 : 무기</span>
                            </div>
                        </div>
                        <div class="flex-column"> 
                            <div class="image-div">
                                <img class="itemImg" src="/image/T3_POTION_ACID_4.png">
                                <img class="itemImg" src="/image/T3_POTION_ACID_4.png">
                                <img class="itemImg" src="/image/T3_POTION_ACID_4.png">
                            </div>
                        </div>
                    </div>
                    <div class="flex-row padding background tierListItem">
                        <div>
                            2
                        </div>
                    </div>
                    <div class="flex-row padding background tierListItem">
                        <div>
                            3
                        </div>
                    </div>
                </div> -->
            </div>
        </div> <!-- end of container -->
    </div>
    


    <div id="blackArea">
        <div id="loading">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>

            <h1>정보 요청중..</h1>
        </div>
    </div>
</div>
</body>

</html>