<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <!-- <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/metabuild/tierListDetail.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css" />
    <link rel="stylesheet" href="/static/css/board/editor.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="stylesheet" href="/static/css/loading.css" />
    <link rel="stylesheet" href="/static/css/metabuild/tierListDetail.css" /> -->

    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/metabuild/tierListDetail.js"></script>
    <link rel="stylesheet" href="/css/variable.css" />
    <link rel="stylesheet" href="/css/board/editor.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <link rel="stylesheet" href="/css/metabuild/tierListDetail.css" />

    <meta charset="UTF-8">
    <title>알비온 GG - 티어 리스트 ⚔</title>
</head>

<body data-theme="light-mode">
    <script type="text/javascript" src="/jsMin/toggle.js"></script>
    <div class="image-maindiv">
        <div th:replace="~{header :: header}"></div>
        <div>
            <div class="back-div">
                <a class="btn-back text-center" href="javascript:history.back();">뒤로 가기</a>
            </div>
            <div class="container">
                <div class="flex-column">
                    <h2>🥇티어 리스트 상세 페이지🥇</h2>
                </div>
                <div class="flex-column">
                    
                    <div class="flex-column background margin-b padding">
                        <p class="title"><span class="category" th:text="|[${tierList.category}]|"></span> <span class="title" th:text="${tierList.title}"></span></p>
                        <div class="subTitle flex-row space-between w-10">
                            <span class="writeDate" th:text="${tierList.writeDate}"></span>
                            <div>
                                <span class="up right" th:text="|추천수:${tierList.up}|"></span>
                                <span class="comments right" th:text="| 의견수:${#lists.size(tierList.tierListComments)}|">0</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex-column w-7 margin-b">

                        <div th:if="${#lists.size(tierList.t1) > 1}"
                             class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText" th:text="${tierList.t1Name}"></span>
                            </div>
                            <div class="rankArea">
                                <img th:each="t : ${tierList.t1}" th:src="|https://render.albiononline.com/v1/item/${t}.png?quality=4|" />
                            </div>
                        </div>

                        <div th:if="${#lists.size(tierList.t2) > 1}"
                             class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText" th:text="${tierList.t2Name}"></span>
                            </div>
                            <div class="rankArea">
                                <img th:each="t : ${tierList.t2}" th:src="|https://render.albiononline.com/v1/item/${t}.png?quality=4|" />
                            </div>
                        </div>

                        <div th:if="${#lists.size(tierList.t3) > 1}"
                             class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText" th:text="${tierList.t3Name}"></span>
                            </div>
                            <div class="rankArea">
                                <img th:each="t : ${tierList.t3}" th:src="|https://render.albiononline.com/v1/item/${t}.png?quality=4|" />
                            </div>
                        </div>

                        <div th:if="${#lists.size(tierList.t4) > 1}"
                             class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText" th:text="${tierList.t4Name}"></span>
                            </div>
                            <div class="rankArea">
                                <img th:each="t : ${tierList.t4}" th:src="|https://render.albiononline.com/v1/item/${t}.png?quality=4|" />
                            </div>
                        </div>

                        <div th:if="${#lists.size(tierList.t5) > 1}"
                             class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText" th:text="${tierList.t5Name}"></span>
                            </div>
                            <div class="rankArea">
                                <img th:each="t : ${tierList.t5}" th:src="|https://render.albiononline.com/v1/item/${t}.png?quality=4|" />
                            </div>
                        </div>

                        <div th:if="${#lists.size(tierList.t6) > 1}"
                             class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText" th:text="${tierList.t6Name}"></span>
                            </div>
                            <div class="rankArea">
                                <img th:each="t : ${tierList.t6}" th:src="|https://render.albiononline.com/v1/item/${t}.png?quality=4|" />
                            </div>
                        </div>

                        <div th:if="${#lists.size(tierList.t7) > 1}"
                             class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText" th:text="${tierList.t7Name}"></span>
                            </div>
                            <div class="rankArea">
                                <img th:each="t : ${tierList.t7}" th:src="|https://render.albiononline.com/v1/item/${t}.png?quality=4|" />
                            </div>
                        </div>

                        <div th:if="${#lists.size(tierList.t8) > 1}"
                             class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText" th:text="${tierList.t8Name}"></span>
                            </div>
                            <div class="rankArea">
                                <img th:each="t : ${tierList.t8}" th:src="|https://render.albiononline.com/v1/item/${t}.png?quality=4|" />
                            </div>
                        </div>

                        <div th:if="${#lists.size(tierList.t9) > 1}"
                             class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText" th:text="${tierList.t9Name}"></span>
                            </div>
                            <div class="rankArea">
                                <img th:each="t : ${tierList.t9}" th:src="|https://render.albiononline.com/v1/item/${t}.png?quality=4|" />
                            </div>
                        </div>

                        <div th:if="${#lists.size(tierList.t10) > 1}"
                             class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText" th:text="${tierList.t10Name}"></span>
                            </div>
                            <div class="rankArea">
                                <img th:each="t : ${tierList.t10}" th:src="|https://render.albiononline.com/v1/item/${t}.png?quality=4|" />
                            </div>
                        </div>

                    </div>
                    <div class="flex-column align-center">
                        <div class="upBtnDiv">
                            <span class="upBtn">♥</span>
                            <span class="upBtnDescription">추천버튼</span>
                        </div>
                    </div>
                </div>

            </div>

        </div> <!-- end of container -->
    </div>



    <div id="blackArea">
        <div id="loading">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>

            <h1>정보 요청중..</h1>
        </div>
    </div>
    </div>
</body>

</html>