<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <!-- <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/metabuild/tierListWrite.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css" />
    <link rel="stylesheet" href="/static/css/board/editor.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="stylesheet" href="/static/css/loading.css" />
    <link rel="stylesheet" href="/static/css/metabuild/tierListWrite.css" /> -->

    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/metabuild/tierListWrite.js"></script>
    <link rel="stylesheet" href="/css/variable.css" />
    <link rel="stylesheet" href="/css/board/editor.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <link rel="stylesheet" href="/css/metabuild/tierListWrite.css" />

    <meta charset="UTF-8">
    <title>알비온 GG - 티어 리스트 작성 ⚔</title>
</head>

<body data-theme="light-mode">
    <script type="text/javascript" src="/jsMin/toggle.js"></script>
    <div class="image-maindiv">
        <div th:replace="~{header :: header}"></div>
        <div>
            <div class="back-div">
                <a class="btn-back text-center" href="javascript:history.back();">뒤로 가기</a>
            </div>
            <div class="container">
                <div class="flex-column">
                    <h2>🥇티어 리스트 작성🥇</h2>
                </div>
                <div class="flex-column">
                    <div class="flex-row margin-b gap">
                        <div class="flex-row align-item-center background padding w-6">
                            <div class="title-div">
                                <span class="title">카테고리 선택</span>
                            </div>
                            <div class="content-div">
                                <div class="grid">
                                    <div>
                                        <input type="radio" id="all" name="category" value="전체" checked />
                                        <label for="all">전체</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="mist" name="category" value="미스트" />
                                        <label for="mist">미스트</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="corrupted" name="category" value="오던" />
                                        <label for="corrupted">오던</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="small" name="category" value="스몰스케일" />
                                        <label for="small">스몰</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="middle" name="category" value="미들스케일" />
                                        <label for="middle">미들</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="zvz" name="category" value="ZvZ" />
                                        <label for="zvz">ZvZ</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="gank" name="category" value="갱킹" />
                                        <label for="gank">갱킹</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="gathering" name="category" value="채집" />
                                        <label for="gathering">채집</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="transport" name="category" value="운송" />
                                        <label for="transport">운송</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="soloPVE" name="category" value="솔로 페임" />
                                        <label for="soloPVE">솔로 페임</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="greenPVE" name="category" value="녹던" />
                                        <label for="greenPVE">PvE(녹던)</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="bluePVE" name="category" value="파던" />
                                        <label for="bluePVE">PvE(파던)</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="staticPVE" name="category" value="스태틱던전" />
                                        <label for="staticPVE">PvE(스태틱)</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="worldBossPVE" name="category" value="worldBossPVE" />
                                        <label for="worldBossPVE">PvE(월드보스)</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="battleMount" name="category" value="battleMount" />
                                        <label for="battleMount">베틀마운트</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-column w-4 background padding">
                            <p class="rule">🔥 작성 조건은 게시글 제목과 1개 이상의 티어가 존재해야합니다.</p>
                            <p class="rule">🔥 새롭게 추가된 아이템이미지는 배경만 보이는 이미지로 대체됩니다. 배경만 보이는 이미지는 이미지에 마우스를 올려 텍스트를 확인하실수 있습니다.</p>
                            <p class="rule">🔥 누락된 아이템은 <a class='link' href='/toinquire' >관리자문의</a>에 글을 남겨주세요. 최대한 빠르게 조치하겠습니다.</p>
                        </div>
                    </div>

                    <div class="flex-column gap margin-b">
                        <div class="flex-row background padding gap space-between margin-b">
                            <div class="input-div">
                                <input type="text" id="writer" placeholder="작성자(생략시 익명)">
                                <input type="text" id="input" placeholder="게시글 제목을 입력하세요.">
                            </div>
                            <input type="text" id="tierStr" placeholder="티어명 ex) S티어, A티어 ..등" />
                            <button class="btn" onclick="addTier()">티어 추가</button>
                            <button class="btn red" onclick="removeTier()">티어 삭제</button>
                        </div>
                        <div class="flex-row gap space-between">
                            <div class="flex-column gap  w-6">
                                <div class="flex-row tier background align-center space-between padding" id="1">
                                    <div class="rank">
                                        <span class="rankText" id="1t">S</span>
                                    </div>
                                    <div class="rankArea">

                                    </div>
                                </div>
                                <div class="flex-row tier background align-center space-between" id="2">
                                    <div class="rank">
                                        <span class="rankText" id="2t">A</span>
                                    </div>
                                    <div class="rankArea">

                                    </div>
                                </div>
                                <div class="flex-row tier background align-center space-between" id="3">
                                    <div class="rank">
                                        <span class="rankText" id="3t">B</span>
                                    </div>
                                    <div class="rankArea">

                                    </div>
                                </div>
                                <div class="flex-row tier background align-center space-between" id="4">
                                    <div class="rank">
                                        <span class="rankText" id="4t">C</span>
                                    </div>
                                    <div class="rankArea">

                                    </div>
                                </div>
                                <div class="flex-row tier background align-center space-between" id="5">
                                    <div class="rank">
                                        <span class="rankText" id="5t">D</span>
                                    </div>
                                    <div class="rankArea">

                                    </div>
                                </div>
                                <div class="flex-row tier background align-center space-between" id="6">
                                    <div class="rank">
                                        <span class="rankText" id="6t">E</span>
                                    </div>
                                    <div class="rankArea">

                                    </div>
                                </div>
                                <div class="flex-row tier background align-center space-between" id="7">
                                    <div class="rank">
                                        <span class="rankText" id="7t">F</span>
                                    </div>
                                    <div class="rankArea">

                                    </div>
                                </div>
                                <div class="flex-row tier background align-center space-between" id="8">
                                    <div class="rank">
                                        <span class="rankText" id="8t">Z</span>
                                    </div>
                                    <div class="rankArea">

                                    </div>
                                </div>
                                <div class="flex-row tier background align-center space-between" id="9">
                                    <div class="rank">
                                        <span class="rankText" id="9t">Z</span>
                                    </div>
                                    <div class="rankArea">

                                    </div>
                                </div>
                                <div class="flex-row tier background align-center space-between" id="10">
                                    <div class="rank">
                                        <span class="rankText" id="10t">Z</span>
                                    </div>
                                    <div class="rankArea">

                                    </div>
                                </div>
                            </div>

                            <div class="flex-column w-4 background padding-sm categoryDiv">
                                <div class="content-div">
                                    <button class="content-item hover" onclick="changePart(this)">전체</button>
                                    <button class="content-item hover" onclick="changePart(this)">무기</button>
                                    <button class="content-item hover" onclick="changePart(this)">투구</button>
                                    <button class="content-item hover" onclick="changePart(this)">갑옷</button>
                                    <button class="content-item hover" onclick="changePart(this)">신발</button>
                                    <button class="content-item hover" onclick="changePart(this)">망토</button>
                                    <button class="content-item hover" onclick="changePart(this)">포션</button>
                                    <button class="content-item hover" onclick="changePart(this)">음식</button>
                                    <button class="content-item hover" onclick="changePart(this)">탈것</button>
                                </div>
                                <div class="flex-row itemListDiv">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="flex-row background flex-end gap padding">
                        <button class="btn" onclick="submit()">작성 완료</button>
                        <button class="btn" onclick="javascript:history.back()">취소</button>
                    </div>
                </div>

            </div>

        </div> <!-- end of container -->
    </div>



    <div id="blackArea">
        <div id="loading">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>

            <h1>정보 요청중..</h1>
        </div>
    </div>
    </div>
</body>

</html>