<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/metabuild/tierListWrite.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css"/>
    <link rel="stylesheet" href="/static/css/board/editor.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/detail.css"/>
    <link rel="stylesheet" href="/static/css/loading.css"/>
    <link rel="stylesheet" href="/static/css/metabuild/tierListWrite.css"/>

<!--    <script type="text/javascript" src="/js/variable.js"></script>-->
<!--    <script type="text/javascript" src="/js/util.js"></script>-->
<!--    <script type="text/javascript" src="/js/calculator/metabuild.js"></script>-->
<!--    <link rel="stylesheet" href="/css/variable.css"/>-->
<!--    <link rel="stylesheet" href="/css/board/editor.css"/>-->
<!--    <link rel="stylesheet" href="/css/index.css"/>-->
<!--    <link rel="stylesheet" href="/css/detail.css"/>-->
<!--    <link rel="stylesheet" href="/css/loading.css"/>-->
<!--    <link rel="stylesheet" href="/css/metabuild/metabuild.css"/>-->

    <meta charset="UTF-8">
    <title>알비온 GG - 티어 리스트 작성 ⚔</title>
</head>

<body data-theme="light-mode">
<script type="text/javascript" src="/jsMin/toggle.js"></script>
<div class="image-maindiv">
    <div th:replace="~{header :: header}"></div>
    <div>
        <div class="back-div">
            <a class="btn-back text-center" href="javascript:history.back();">뒤로 가기</a>
        </div>
        <div class="container">
            <div class="flex-column">
                <h2>🥇티어 리스트 작성🥇</h2>
            </div>
            <div class="flex-column">
                <div class="flex-row margin-b gap">
                    <div class="flex-row align-item-center background">
                        <div class="title-div">
                            <span class="title">착용부위 선택</span>
                        </div>
                        <div class="content-div">
                            <input type="radio" id="weapon" name="range" value="7" checked/>
                            <label for="weapon">무기</label>
                            <input type="radio" id="armor" name="range" value="1"/>
                            <label for="armor">방어구</label>
                            <input type="radio" id="cape" name="range" value="2"/>
                            <label for="cape">망토</label>
                            <input type="radio" id="food" name="range" value="3"/>
                            <label for="food">푸드</label>
                            <input type="radio" id="mount" name="range" value="3"/>
                            <label for="mount">탈것</label>
                        </div>
                    </div>
                    <div class="flex-row align-item-center background">
                        <div class="title-div">
                            <span class="title">카테고리 선택</span>
                        </div>
                        <div class="content-div">
                            <div class="grid">
                                <div>
                                    <input type="radio" id="all" name="situation" value="mist" checked/>
                                    <label for="all">전체</label>
                                </div>
                                <div>
                                    <input type="radio" id="mist" name="situation" value="mist"/>
                                    <label for="mist">미스트</label>
                                </div>
                                <div>
                                    <input type="radio" id="corrupted" name="situation" value="mist"/>
                                    <label for="corrupted">오던</label>
                                </div>
                                <div>
                                    <input type="radio" id="small" name="situation" value="small"/>
                                    <label for="small">스몰</label>
                                </div>
                                <div>
                                    <input type="radio" id="middle" name="situation" value="middle"/>
                                    <label for="middle">미들</label>
                                </div>
                                <div>
                                    <input type="radio" id="zvz" name="situation" value="zvz"/>
                                    <label for="zvz">ZvZ</label>
                                </div>
                                <div>
                                    <input type="radio" id="gank" name="situation" value="gank"/>
                                    <label for="gank">갱킹</label>
                                </div>
                                <div>
                                    <input type="radio" id="gathering" name="situation" value="gathering"/>
                                    <label for="gathering">채집</label>
                                </div>
                                <div>
                                    <input type="radio" id="transport" name="situation" value="transport"/>
                                    <label for="transport">운송</label>
                                </div>
                                <div>
                                    <input type="radio" id="soloPVE" name="situation" value="soloPVE"/>
                                    <label for="soloPVE">솔로 페임</label>
                                </div>
                                <div>
                                    <input type="radio" id="greenPVE" name="situation" value="greenPVE"/>
                                    <label for="greenPVE">PvE(녹던)</label>
                                </div>
                                <div>
                                    <input type="radio" id="bluePVE" name="situation" value="bluePVE"/>
                                    <label for="bluePVE">PvE(파던)</label>
                                </div>
                                <div>
                                    <input type="radio" id="staticPVE" name="situation" value="staticPVE"/>
                                    <label for="staticPVE">PvE(스태틱)</label>
                                </div>
                                <div>
                                    <input type="radio" id="worldBossPVE" name="situation" value="worldBossPVE"/>
                                    <label for="worldBossPVE">PvE(월드보스)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-column gap">
                    <div class="flex-row background gap space-between margin-b">
                        <div class="input-div">
                            <input type="text" id="writer" placeholder="작성자(생략시 IP)">
                            <input type="text" id="input" placeholder="게시글 제목을 입력하세요.">
                        </div>
                        <button class="btn" onclick="addTier()">티어 추가</button>
                        
                    </div>
                    <div class="flex-column">
                        <div class="flex-row tier background stretch">
                            <div class="rank" id="S">
                                S
                            </div>
                            <div class="rankArea">

                            </div>
                        </div>
                        <div class="flex-row tier background flex-stretch" id="A">
                            <div class="rank">
                                A
                            </div>
                        </div>
                        <div class="flex-row tier background flex-stretch" id="B">
                            <div class="rank">
                                B
                            </div>
                        </div>
                        <div class="flex-row tier background flex-stretch" id="C">
                            <div class="rank">
                                C
                            </div>
                        </div>
                        <div class="flex-row tier background flex-stretch" id="D">
                            <div class="rank">
                                D
                            </div>
                        </div>
                        <div class="flex-row tier background flex-stretch" id="E">
                            <div class="rank">
                               E 
                            </div>
                        </div>
                        <div class="flex-row tier background flex-stretch" id="F">
                            <div class="rank">
                                F
                            </div>
                        </div>
                        <div class="flex-row tier background flex-stretch" id="Z">
                            <div class="rank">
                                Z
                            </div>
                        </div>
                    </div>
                    <div class="flex-column background">
                        
                    </div>

                    <div class="flex-row background flex-end gap">
                        <button class="btn green">작성 완료</button>
                        <button class="btn red">취소</button>
                    </div>
                </div>

            </div>    

        </div> <!-- end of container -->
    </div>
    


    <div id="blackArea">
        <div id="loading">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>

            <h1>정보 요청중..</h1>
        </div>
    </div>
</div>
</body>

</html>