<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

   <!-- <script type="text/javascript" src="/static/js/variable.js"></script>
   <script type="text/javascript" src="/static/js/util.js"></script>
   <script type="text/javascript" src="/static/js/metabuild/tierList.js"></script>
   <link rel="stylesheet" href="/static/css/variable.css"/>
   <link rel="stylesheet" href="/static/css/board/editor.css"/>
   <link rel="stylesheet" href="/static/css/index.css"/>
   <link rel="stylesheet" href="/static/css/detail.css"/>
   <link rel="stylesheet" href="/static/css/loading.css"/>
   <link rel="stylesheet" href="/static/css/metabuild/tierList.css"/> -->

    <script type="text/javascript" src="/jsMin/variable.js"></script>
    <script type="text/javascript" src="/jsMin/util.js"></script>
    <script type="text/javascript" src="/jsMin/metabuild/tierList.js"></script>
    <link rel="stylesheet" href="/css/variable.css"/>
    <link rel="stylesheet" href="/css/board/editor.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/detail.css"/>
    <link rel="stylesheet" href="/css/loading.css"/>
    <link rel="stylesheet" href="/css/metabuild/tierList.css"/>

    <meta charset="UTF-8">
    <title>알비온 GG - 티어 리스트 ⚔</title>
</head>

<body data-theme="light-mode">
<script type="text/javascript" src="/jsMin/toggle.js"></script>
<div class="image-maindiv">
    <div th:replace="~{header :: header}"></div>
    <div>
        <div class="back-div">
            <a class="btn-back text-center" href="/">뒤로 가기</a>
        </div>
        <div class="container">
            <div class="flex-column">
                <h2>🥇티어 리스트🥇</h2>
            </div>
            <div class="flex-column">
                <div class="flex-row margin-b gap">
                    <div class="flex-row align-item-center background w-6">
                        <div class="title-div">
                            <span class="title">카테고리 선택</span>
                        </div>
                        <div class="content-div">
                            <div class="grid">
                                <div>
                                    <input class="radio" type="radio" id="all" name="category" value="전체" th:checked="${#strings.equals(category, '전체')}" />
                                    <label for="all">전체</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="mist" name="category" value="미스트" th:checked="${#strings.equals(category, '미스트')}" />
                                    <label for="mist">미스트</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="corrupted" name="category" value="오던" th:checked="${#strings.equals(category, '오던')}" />
                                    <label for="corrupted">오던</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="small" name="category" value="스몰" th:checked="${#strings.equals(category, '스몰')}" />
                                    <label for="small">스몰</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="middle" name="category" value="미들" th:checked="${#strings.equals(category, '미들')}"/>
                                    <label for="middle">미들</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="zvz" name="category" value="zvz" th:checked="${#strings.equals(category, 'zvz')}"/>
                                    <label for="zvz">ZvZ</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="gank" name="category" value="갱킹" th:checked="${#strings.equals(category, '갱킹')}"/>
                                    <label for="gank">갱킹</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="gathering" name="category" value="채집" th:checked="${#strings.equals(category, '채집')}"/>
                                    <label for="gathering">채집</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="transport" name="category" value="운송" th:checked="${#strings.equals(category, '운송')}"/>
                                    <label for="transport">운송</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="soloPVE" name="category" value="솔로페임" th:checked="${#strings.equals(category, '솔로페임')}"/>
                                    <label for="soloPVE">솔로 페임</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="greenPVE" name="category" value="녹던" th:checked="${#strings.equals(category, '녹던')}"/>
                                    <label for="greenPVE">PvE(녹던)</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="bluePVE" name="category" value="파던" th:checked="${#strings.equals(category, '파던')}"/>
                                    <label for="bluePVE">PvE(파던)</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="staticPVE" name="category" value="스태틱" th:checked="${#strings.equals(category, '스태틱')}"/>
                                    <label for="staticPVE">PvE(스태틱)</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="worldBossPVE" name="category" value="월보" th:checked="${#strings.equals(category, '월보')}"/>
                                    <label for="worldBossPVE">PvE(월드보스)</label>
                                </div>
                                <div>
                                    <input class="radio" type="radio" id="battleMount" name="category" value="베마" th:checked="${#strings.equals(category, '베마')}"/>
                                    <label for="battleMount">PvE(월드보스)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-column background w-4">
                        <p class="rule">🔥 모바일에서는 읽기만 지원합니다.</p>
                        <p class="rule">🔥 작성한 글에 대해 무분별한 비난은 자제 해주세요.</p>
                        <p class="rule">🔥 누락된 아이템은 <a class='link' href='/toinquire' >관리자문의</a>에 글을 남겨주세요. 최대한 빠르게 조치하겠습니다.</p>
                    </div>
                </div>     
            </div>    

            <div class="flex-column">
                <div class="flex-row align-item-center space-between background margin-b">
                    <div class="flex-row">
                        <div class="chekcbox-div">
                            <input class="radio" type="radio" id="option2" name="options" value="writeDate" th:checked="${#strings.equals(options,'writeDate')}" />
                            <label for="option2">
                                <span>최신순</span>
                            </label>
                        </div>
                        <div class="chekcbox-div">
                            <input class="radio" type="radio" id="option1" name="options" value="up" th:checked="${#strings.equals(options,'up')}" />
                            <label for="option1">
                                <span>추천순</span>
                            </label>
                        </div>
                        <div class="chekcbox-div">
                            <input class="radio" type="radio" id="option3" name="options" value="tierListComments" th:checked="${#strings.equals(options,'tierListComments')}" />
                            <label for="option3">
                                <span>댓글 많은순</span>
                            </label>
                        </div>
                    </div>
                    <a class="btn" href="/tierList/write">새로 작성</a>
                </div>
                <div class="flex-column margin-b">
                    <table>
                        <colgroup>
                            <col class="col0" />
                            <col class="col0-1" />
                            <col class="col1" />
                            <col class="col3" />
                            <col class="col4" />
                            <col class="col5" />
                            <col class="col6" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>작성날짜</th>
                                <th>작성자</th>
                                <th>카테고리</th>
                                <th>제목</th>
                                <th>1티어</th>
                                <th>추천</th>
                                <th>댓글</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${#lists.size(list) == 0}">
                                <td colspan="7" style="text-align: center; padding: 15px; font-size: 12px;">
                                    현재 데이터가 없습니다.
                                </td>
                            </tr>
                            <tr th:each="t : ${list}" th:id="${t.id}">
                                <td th:text="${#temporals.format(t.writeDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${t.userId}"></td>
                                <td th:text="${t.category}"></td>
                                <td th:text="${t.title}"></td>
                                <td>
                                    <img th:each="itemName, itemNameStat : ${t.t1}"
                                         th:if="${itemNameStat.index} < 3" class="itemImg"
                                         th:src="|https://render.albiononline.com/v1/item/${itemName}?quality=4|" />
                                </td>
                                <td th:text="${t.up}"></td>
                                <td th:text="${#lists.size(t.tierListComments)}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex-column margin-b">
                    <div class="flex-row pagination flex-center">
                        <div>
                            <a th:classappend="${nowPage > 0} ? 'active' : 'nonActive' "
                               th:href="@{/tierList(page=0)}"> &lt;&lt; </a>

                            <a th:classappend="${startPage - 1 > 0} ? 'active' : 'nonActive' "
                               th:href="@{/tierList?(page=${startPage - 1})}"> &lt; </a>

                            <a th:each="i : ${#numbers.sequence(startPage, endPage)}"
                               th:text="${i + 1}" th:class="${i == nowPage}? 'nowPage' : ''"
                               th:href="@{/tierList?(page=${i})}"></a>

                            <a th:classappend="${endPage + 1 <=  totalPage}? 'active' : 'nonActive' "
                               th:href="@{/tierList?(page=${endPage + 1})}"> &gt; </a>

                            <a th:classappend="${nowPage < totalPage} ? 'active' : 'nonActive' "
                               th:href="@{/tierList?(page=${totalPage})}"> &gt;&gt; </a>
                        </div>

                    </div>
                </div>
            </div>
        </div> <!-- end of container -->
    </div>
    


    <div id="blackArea">
        <div id="loading">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>

            <h1>정보 요청중..</h1>
        </div>
    </div>
</div>
</body>

</html>