<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/metabuild/tierListDetail.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css" />
    <link rel="stylesheet" href="/static/css/board/editor.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="stylesheet" href="/static/css/loading.css" />
    <link rel="stylesheet" href="/static/css/metabuild/tierListDetail.css" />

    <!-- <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/metabuild/tierListDetail.js"></script>
    <link rel="stylesheet" href="/css/variable.css" />
    <link rel="stylesheet" href="/css/board/editor.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <link rel="stylesheet" href="/css/metabuild/tierListDetail.css" /> -->

    <meta charset="UTF-8">
    <title>알비온 GG - 티어 리스트 ⚔</title>
</head>

<body data-theme="light-mode">
    <script type="text/javascript" src="/jsMin/toggle.js"></script>
    <div class="image-maindiv">
        <div th:replace="~{header :: header}"></div>
        <div>
            <div class="back-div">
                <a class="btn-back text-center" href="javascript:history.back();">뒤로 가기</a>
            </div>
            <div class="container">
                <div class="flex-column">
                    <h2>🥇티어 리스트 상세 페이지🥇</h2>
                </div>
                <div class="flex-column">
                    
                    <div class="flex-column background margin-b padding">
                        <p class="title"><span class="category">[카테고리명]</span> <span class="title">제목입니다</span></p>
                        <div class="subTitle flex-row space-between w-10">
                            <span class="writeDate">2025-03-20 15:00:00</span>
                            <div>
                                <span class="up right">추천수: 0</span>
                                <span class="comments right"> | 의견수: 0</span>
                            </div>
                        </div>
                    </div >
                    
                    <div class="flex-column w-10 margin-b">
                        <div class="flex-row tier background align-center space-between padding">
                            <div class="rank">
                                <span class="rankText">티어명</span>
                            </div>
                            <div class="rankArea">
                                
                            </div>
                        </div>
                    </div>
                    <div class="flex-column align-center">
                        <div class="upBtnDiv">
                            <span class="upBtn">♥</span>
                            <span class="upBtnDescription">추천버튼</span>
                        </div>
                    </div>
                </div>

            </div>

        </div> <!-- end of container -->
    </div>



    <div id="blackArea">
        <div id="loading">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>

            <h1>정보 요청중..</h1>
        </div>
    </div>
    </div>
</body>

</html>