a{
    text-decoration: none;
}
h5{
    margin:10px;
}
.image-maindiv{
    /* background-image: url(/static/image/background-image-market.jpeg); */
    background-image: url(/image/background-image-market.jpeg);
    background-repeat: repeat;
    height: auto;
    min-height: 100%;
}
.container{
    width: 100%;
    max-width: 1200px;
    gap: 5px;
    align-items: normal;
}
.background {
    align-items: flex-start;
    padding: 15px;
    background-color: var(--sub-color-a);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #000000;
}
.flex-row{
    display:flex;
    flex-direction: row;
    width: 100%;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.vertical-center{
    align-items: center;
}
.gap{
    gap: 20px;
}
form{
    width: 100%;
}
input{
    font-size: 0.8em;
    font-weight: bold;
    color: #eee;
    background-color: #00000000;
    border: 1px solid var(--border);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 100%;
}
.label{
    width: 55%;
    font-size: 0.9rem;
}
.btn{
    width: 80%;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    background: var(--btn-bg);
    text-shadow: none;
    border: 2px solid var(--border);
    color: var(--sub-color);
    padding: 7px 25px;
    text-align: center;
}
.btn:hover {
    background-color: var(--btn-hover);
    color: var(--main-color);
}
.flex-end{
    justify-content: end;
}