h3 {
    margin-bottom: 1px;
}

li.category.clicked{
    color: RGB(28, 120, 153);
    font-size: 1em;
}
.header {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 15px 10px;
    flex-wrap: wrap;
    height: auto;
    min-height: 100%;
    padding-bottom: 100px;
}

.centered {
    margin: 0 auto;
    max-width: 50%;
}

.board-header {
    font-size: 1em;
    padding: 0px;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}
.board-header-detail {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.5em;
    padding: 0px;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}
.board-header-title {
    margin-bottom: 1.5vw;
}
.header-center{
    margin-right : 1%;
}
.visibility{
    visibility: hidden;
}
.board-header-sub {
    display: inline;
    font-size: 0.6em;
    font-weight: bold;
    color: RGB(28, 120, 153);
    border-top : 1px solid RGB(28, 120, 153, 0.5);
    border-bottom : 1px solid RGB(28, 120, 153, 0.5);
}

.board-header-flex-subDiv {
    display: flex;
    margin-bottom: 0.5%;
    margin-top: 3.5%;
}

.board-header-left-subDiv {
    list-style: none;
    padding-left: 1%;
    width: 50%;
    text-align: left;
    margin-bottom: 0.3%;
}

div.board-header-left-subDiv>span {
    font-size: 0.9em;
}

.board-header-right-subDiv {
    padding-right: 1%;
    width: 50%;
    text-align: right;
    margin-bottom: 0.3%;
}

.board-title-div {
    text-align: left;
    max-width: 50%;
    margin: 1% auto;
}

.board-submit-div {
    text-align: right;
    max-width: 50%;
    margin: 0 auto;
}
.btn-header-right{
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
    text-shadow: none;
    border: 2px solid #eee;
    color: white;
    padding: 8px 16px;
    min-width: 60px;
}
.btn-header-right:hover {
    background-color: #bdc3c7;
    color: #000;
}
.btn-header {
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
    text-shadow: none;
    border: 2px solid #eee;
    color: white;
    padding: 10px 30px;
    min-width: 100px;
}
.btn-header:hover {
    background-color: #bdc3c7;
    color: #000;
}
.btn {
    font-size: 16px;
    border-radius: 2px;
    background: #303f53;
    text-shadow: none;
    border: 0;
    color: white;
    padding: 10px 30px;
    min-width: 100px;
}
.btn:hover {
    background-color: #bdc3c7;
    color: #000;
}
.board-title-div p {
    font-size: 0.8em;
    font-weight: bold;
}

.board-nickname-input {
    min-width: 10vw;
    color: #eee;
    background-color: rgb(36, 32, 32);
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 0.5vw;
}

.board-title-input {
    min-width: 39.25vw;
    color: #eee;
    background-color: rgb(36, 32, 32);
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 0.5vw;
}

.board-title-category-input {
    color: #eee;
    background-color: rgb(36, 32, 32);
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 0.5vw;
}

.board-password {
    color: #eee;
    background-color: rgb(36, 32, 32);
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 0.5vw;
}

input:hover,
input:focus {
    outline: none;
    border: 2px solid RGB(28, 120, 153);
}

.board-category-ul {
    display: inline;
    list-style-type: none;
}

.board-category-ul li {
    display: inline;
    list-style-type: none;
}

table {
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    width: 5vw;
    padding: 1%;
    border-bottom: 1.5px solid RGB(28, 120, 153);
    border-top: 2.5px double RGB(28, 120, 153);
}

tr {
    border-bottom: 0.5px solid RGBA(28, 120, 153, 0.2);
}

tbody tr:hover {
    background-color: #352f2f;
}

td {
    color: RGBA(238, 238, 238, 0.8);
    padding: 0.6% 10px;
    text-align: center;
    font-size: 0.7em;
}

td:nth-child(3) {
    text-align: left;
}

table .col1 {
    width: 5%;
}

table .col2 {
    width: 5%;
}

table .col3 {
    width: 30%;
}

table .col4 {
    width: 10%;
}

table .col5 {
    width: 8%;
}

table .col6 {
    width: 5%;
}

table .col7 {
    width: 5%;
}

.write-button {
    font-size: 0.6em;
    font-weight: bold;
    border: 2px solid RGB(28, 120, 153);
    border-radius: 5px;
    padding: 0.1vw 0.6vw;
}

.write-button:hover {
    border: 2px solid #eee;
}



.board-title {
    color: RGBA(238, 238, 238, 0.8);
    cursor: pointer;
}

.board-title:hover {
    text-decoration: underline;
}

.comments-number {
    padding-left: 0.2vw;
    opacity: 0.4;
}

.category {
    display: inline;
    cursor: pointer;
    color: RGBA(238, 238, 238, 0.8);
    font-weight: bold;
    font-size: 0.5em;
}

.category:hover {
    text-decoration: underline;
}

.password-warning-message {
    display: none;
    color: RGB(28, 120, 153);
    font-size: 0.8em;
    font-weight: bold;
    animation: blink 1.5s infinite;
}

.title-warning-message {
    display: none;
    color: RGB(28, 120, 153);
    font-size: 0.8em;
    font-weight: bold;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Pagination */
.centered-pagination {
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
}

.pagination {
    display: inline-block;
    margin-top: 10%;
    font-weight: bold;
}

.pagination a {
    font-size: 0.7em;
    color: #eee;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    margin: 0 4px;
}

.pagination a.nowPage {
    background-color: RGB(28, 120, 153);
    color: #eee;
    border-radius: 5px;
}

.pagination a:hover:not(.nowPage) {
    background-color: RGBA(28, 120, 153);
    border-radius: 5px;
}

/* dropdown */
.showRows-button {
    font-size: 0.6em;
    font-weight: bold;
    color: #eee;
    background-color: #242020;
    border: 2px solid RGB(28, 120, 153);
    border-radius: 5px;
    padding: 0.1vw 0.6vw;
}

.showRows-button:hover {
    border: 2px solid #eee;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    font-size: 0.6em;
    display: none;
    position: absolute;
    width: 95%;
    text-align: center;
    background-color: #242020;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid RGB(28, 120, 153);
    border-radius: 5px;
}
.dropdown-content a {
    margin: 10% 0;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
    display: block;
    padding: 2%;
}
.dropdown-content a:hover {
    opacity: 0.5;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.title{
    border-bottom: 0.1px solid RGBA(238, 238, 238, 0.5);
    padding-bottom: 1%;
}
.title-left{
    display: inline-block;
    text-align: left;
    width: 50%;
}
.title-right{
    display: inline-block;
    text-align: right;
    width: 48%;
}
h4{
    margin-bottom : 1%;
}
.title span{
    font-size: 0.8em;
    font-weight: bold;
    opacity: 0.6;
}
.contents{
    min-height: 20vw;
    font-size: 0.8em;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* 댓글 작성 css */
.comment-write-area{
    display: flex;
    flex-direction: row;
    gap:1%;
    padding: 2% 0;
    border-top: 2px solid RGB(238, 238, 238);
    border-bottom: 2px solid RGB(238, 238, 238);
    margin-top: 5%;
}
.block{
    display: block;
}
.comment-writer{
    vertical-align: top;
    display: inline-block;
}
.comment-area{
    display: flex;
    justify-content: space-between;
    gap: 1%;
    width: 79%;
}
.comment-text{
    width:85%;
    color: #eee;
    background-color: rgb(36, 32, 32);
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 8px;
    resize: none;
}
.comment-text:hover,
.comment-text:focus {
    outline: none;
    border: 2px solid RGB(28, 120, 153);
}
.comment-submit{
    cursor:pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    background: #303f53;
    text-shadow: none;
    border: 0;
    color: white;
    padding: 10px 30px;
    min-width: 100px;
    align-content: center;
}
.comment-submit:hover{
    background-color: #bdc3c7;
    color: #000;
}


.comment-submit_c{
    cursor:pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    background: #303f53;
    text-shadow: none;
    border: 0;
    color: white;
    padding: 10px 30px;
    min-width: 100px;
    align-content: center;
}
.comment-submit_c:hover{
    background-color: #bdc3c7;
    color: #000;
}
/* 댓글 보기 css */
.comment-read-area{
    font-size: 0.7em;
    border-top: 2px solid RGBA(238, 238, 238);
}
.comment-list{
    margin:1% 0;
    list-style: none;
}
.comment-list li{
    border-top: 1px solid RGBA(238, 238, 238, 0.1);
    color: RGBA(238, 238, 238, 0.8);
    
}
.comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: RGBA(238, 238, 238, 0.8);
    padding: 1% 0;
    background-color: RGB(36,32,32);
}
.left{
    width:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding : 0 1.5%;
}
.comment-contents{
    width: 70%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding: 0 2%;
}
.comment-contents a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.comment-delete{
    width: 5%;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
}
.comment-time{
    text-align: right;
    width: 8%;
}
.comment-delete a:hover{
    border: 1px solid #eee;
}
.comment-time > span{
    display: inline-block;
    font-size : 0.8em;
}
/* 대댓글 */
.comment-comment{
    display:none;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: RGBA(238, 238, 238, 0.8);
    border-top: 1px solid RGBA(238, 238, 238, 0.1);
    background-color: RGBA(36,32,63, 0.3);
}
.comment-comment-write-area{
    display: flex;
    flex-direction: row;
    gap:1%;
    padding: 2% 0;
}
.left span{
    font-size : 0.8em;
}
.updown-area-01{
    font-weight: bold;
    text-align: center;
    margin-bottom: -1%;
}
.updown-area{
    text-align: center;
    margin-bottom: 5%;
}
.updown-area .updown{
    font-weight: bold;
    padding: 10px 15px;
    background-color: #303f53;
    border: 1px solid #303f53;
    box-shadow : 5px;
    border-radius: 50%;
    margin: 0 1%;
}
.up{
    font-size: 1.5em;
}
.down{
    font-size: 1.5em;
}
.up:hover{
    opacity: 0.5;
}
.down:hover{
    opacity: 0.5;
}

