.header {
    position: sticky;
    top: 0;
    padding: 15px 2%;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom : 1px solid var(--sub-color);
    margin-bottom : 1%;
}
p{
    margin: 2% 0;
}
fieldset{
    text-align: center;
}
.main{
    display: flex;
    height : auto;
    min-height: 40vw;
    position: relative;
    justify-content: space-between;
    padding: 0px  10px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.all-menu{
    border-right: 1px dashed var(--sub-color);
    width: 35%;
}
.menu{
    vertical-align: top;
    position:sticky;
    top: 15%;
    display:inline-block;
    min-width: 49%;
}
.menu-item{
    margin-bottom: 5%;
    padding: 1% 5%;
}
.menu-item-tier{
    display: flex;
    flex-direction: column;
}
.grid-2fr{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
}
.grid-2fr p{
    grid-column: 1 / span 2;
}
.menu-message{
    position: sticky;
    top: 60px;
    color : RGB(87,95,211);
    font-size : 0.8em;
    font-weight: bold;
    margin: 5% 0%;
}
.menu-message p{
    margin: 1px auto;
}
.menu-message p u{
    text-decoration-color: RGB(152, 65, 65);
}

input {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--sub-color);
    background-color: var(--main-color);
    border: 1px solid var(--sub-color);
    box-sizing: border-box;
    padding: 5px 5px;
}

.input-number{
    font-size: 0.8em;
    font-weight: bold;
    color: var(--sub-color);
    background-color: var(--main-color);
    border: 1px solid var(--sub-color);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px 10px;
    width: 70%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

ul {
    list-style: none;
}

.li {
    width: 80%;
    display: flex;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--sub-color);
    background-color: var(--main-color-a);
    border: 1px solid var(--sub-color);
    box-sizing: border-box;
    padding: 8px 10px;
}
.li img{
    width: 2vw;
    height: 2vw;
}

.li:hover {
    color: var(--white);
    background: var(--sub-color);
}

.clicked {
    color: var(--white);
    background: var(--sub-color);
}

.setting-fieldset {
    display: flex;
    flex-direction: column;
}
.setting-fieldset div{
    margin-top: 10px;
}
input[name=tier]{
    margin: 1% 0;
}

input[id=premium] {
    display: none;
}
input[id=premium] + label {  /* 체크박스 만들기 */
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #707070;
    position: relative;
}

input[id=premium]:checked + label::after {  /* 체크되었을 때 */
    content:'✔';
    font-size: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    left: 0;
    top: -4px;
}

input[id=premium] + label + label {
    font-size: 1em;
    position: relative;
    top: -3px;
    cursor: pointer;
    user-select: none;
    
}
select{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 5px;
    background-color: var(--main-color);
    border: 1px solid var(--sub-color);
    border-radius: 3px;
    color: var(--sub-color);
    cursor: pointer;
}
.btn {
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    background: var(--main-color-a);
    text-shadow: none;
    border: 1px solid var(--sub-color);
    color: var(--sub-color);
    padding: 10px 30px;
    min-width: 10%;
    text-align: center;
    align-content: center;
}
.btn:hover {
    background-color: var(--sub-color);
    color: var(--white);
}

table{
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    table-layout: auto;
}
th{
    position: sticky;
    top: 0;
    font-size: 0.8em;
    padding: 10px 0px;
    background-color: var(--sub-color-a);
    border-left: 1px solid var(--sub-color);
    border-right: 1px solid var(--sub-color);
    border-bottom: 2px solid var(--sub-color);
    border-top: 2px solid var(--sub-color);
}

table tbody tr:nth-child(odd){
    background-color: var(--table-tr-color);
}

td{
    padding: 0 10px;
    border: 1px dashed var(--sub-color-a);
}
.refining-table td:nth-child(5){
    text-align: left;
}
.refining-table td:nth-child(5) img{
    text-align: left;
    width: 2.5vw;
    height: 2.5vw;
}
td:nth-child(5) .material{
    text-align: center;
}
td img{
    width: 3vw;
    height: 3vw;
}
.table-div{
    display:none;
    width: 60%;
}
.table-div-cooking{
    display:none;
    border-top: 1px dashed rgba(238, 238, 238, 0.2);
    padding-top: 15px;
}
.material{
    display:inline-block;
}
.material img{
    display: block;
    margin-bottom: -5px;
}
.material span{
    font-size: 0.6em;
    font-weight: bold;
}

table .col1 {
    width: 5%;
}

table .col2 {
    width: 10%;
}

table .col3 {
    width: 5%;
}

table .col4 {
    width: 10%;
}

table .col5 {
    width: 10%;
}

table .col6 {
    width: 7%;
}

table .col7 {
    width: 10%;
}

table .col8 {
    width: 10%;
}

table .col9 {
    width: 10%;
}
table tbody td input{
    width: 100%;
    display: block;
}
.timeAgo{
    font-size:0.9em;
    color: RGB(87, 95, 211);
    float: left;
    margin-top: -38px;
}
.timeAgo-cooking{
    font-size: 0.9em;
    color: RGB(87, 95, 211);
    float: left;
    margin-top: -40px;
}


body::-webkit-scrollbar {
    display:block;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242020;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #555;
}
@media screen and (max-width: 1525px){
    .menu{
        position: static;
        display: flex;
        flex-direction: column;
        margin: 10% 0;
    }
    .menu-message {
        position: static;
    }
    .header{
        position: static;
    }
}
.qunatityArea{
    float: right;
    text-align:right;
    margin-bottom: 1%;
}
.qunatityArea input{
    width: 20%;
    padding: 5px 10px;
}
.taxLabel{
    color: var(--sub-color);
    font-size : 0.7em;
    margin-bottom: 3px;
    display: block;
}
.taxArea{
    display:inline-block;
}
.priceDetail{
    color : RGB(87, 95, 211);
    font-size: 0.5em;
    margin: 0 auto;
}
.red{
    font-size: 0.9em;
    font-weight: bold;
    color: RGBA(218, 0, 34, 0.6);
}
.green{
    font-weight: bold;
    color: RGBA(90, 231, 132, 0.6);
}
.tooltip{
    font-size: 0.5em;
    font-weight: bold;
    padding: 1px 5px;    
    margin-left: 3px;
    border: 1px solid var(--sub-color);
    border-radius: 10px;
}
.tooltip:hover{
    color: var(--white);
    background-color: var(--sub-color);
    border: 1px solid var(--white);
    
}
#tooltipArea_01{
    display: none;
    position: fixed;
    top: 15%;
    left: 35%;
    width: 40%;
    height: 50%;
    background: var(--main-color-a);
    border: 1px solid var(--sub-color);
    padding: 1% 1%;
}

#tooltipArea_02{
    display: none;
    position: fixed;
    top: 15%;
    left: 35%;
    width: 15%;
    height: 60%;
    background: var(--main-color-a);
    border: 1px solid var(--sub-color);
    padding: 1% 1%;
}

#tooltipArea_03{
    display: none;
    position: fixed;
    top: 15%;
    left: 35%;
    width: 20%;
    height: 50%;
    background: var(--main-color-a);
    border: 1px solid var(--sub-color);
    padding: 1% 1%;
}
#tooltipArea_04{
    display: none;
    position: fixed;
    top: 15%;
    left: 35%;
    width: 44%;
    height: 50%;
    background: var(--main-color-a);
    border: 1px solid var(--sub-color);
    padding: 1% 1%;
}
.priceArea{
    display:flex;
    width: 60%;
    flex-direction: column;
    text-align: center;
}
.image-div{
    margin-bottom: 1%;
}
.image-div img{
    width: 3vw;
    height: 3vw;
    cursor:pointer;
}
.image-div img:hover{
    opacity: 0.5;
}
.flex-row-div{
    width: 100%;
}
.main-table{
    width:100%;
}
.sub-table caption{
    font-weight: bold;
}
.sub-table{
    margin-top : 1%;
    float: right;
    height: 100%;
    width: 40%;
}
.main-table-after{
    text-align: center;
    display:inline-block;
}
.main-table-after img{
    width: 3vw;
    height: 3vw;
    display: block;
    margin-bottom: -8px;
}
.main-table-after span{
    font-size: 0.6em;
    font-weight: bold;
}
.material-cooking-meat{
    text-align: center;
    display:inline-block;
}
.material-cooking-meat img{
    width: 2.5vw;
    height: 2.5vw;
    display: block;
    margin-bottom: -5px;
}
.material-cooking-meat span{
    font-size: 0.6em;
    font-weight: bold;
}

.material-cooking{
    text-align: center;
    display:inline-block;
}
.material-cooking img{
    width: 2vw;
    height: 2vw;
    display: block;
    margin-bottom: -5px;
}
.material-cooking span{
    font-size: 0.6em;
    font-weight: bold;
}
.main-table tbody tr td{
    font-size: 0.8em;
}
.main-table tbody td:nth-child(3){
    text-align: left;
}
#meat_table tbody td:nth-child(3){
    text-align: center;
}
#fish_table tbody td:nth-child(3){
    text-align: center;
}
.selected-img {
    color: #eee;
    --angle: 0deg;
    border: 2px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua) 2;
    animation: 5s rotate linear infinite;
    outline: none;
}