@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
*{
    font-family: 'Galmuri14';
}
html{
    margin: 0px;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: var(--sub-color);
    margin: 0px;
    font-weight: 600;
}


.indexBody::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}
ul,
li {
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
}
label {
    font-weight: 900;
}

a {
    color: var(--sub-color);
}
u {
    text-decoration-color: var(--sub-color);
}
footer{
    min-height: 5%;
}
.container {
    min-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    gap: 15px;
}
.imageLogo{
    background-image: var(--logo);
    background-size: cover;
    width: 600px;
    height: 85px;
}
.container-title {
    display: flex;
    font-size: 36px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    grid-gap: 12px;
    gap: 15px;
}

.container-title-image {
    width: 2.2em;
    height: 2.2em;
}

.container-title-text {
    font-weight: 300;
    letter-spacing: 1px;
}

.container-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    gap: 15px;
    grid-row-gap: 15px;
    row-gap: 15px;
    padding: 0 12px;
}
.container-contents-last{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.container-contents-button {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid var(--sub-color);
    color: var(--sub-color);
    text-decoration: none;
    padding: 15px 50px;
    align-content: center;
}
.container-contents-button:hover {
    color: var(--main-color);
    background: var(--sub-color);
}
.link:hover {
    opacity: 0.5;
}

input[type='radio'] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 18px;
height: 18px;
border: 2px solid var(--sub-color);
border-radius: 50%;
outline: none;
cursor: pointer;
}

input[type='radio']:checked {
background-color: var(--sub-color);
border: 3px solid var(--main-color);
box-shadow: 0 0 0 1.6px var(--sub-color);
}

fieldset {
    margin: 5% auto;
    border: 1px solid;
    animation: 3s rotate linear infinite;
    outline: none;
}

legend {
    text-align: center;
}
@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.chart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    gap: 15px;
}
.hover:hover{
    opacity:0.5;
}
:hover{
    transition: all 0.3s;
}
.blur{
    opacity: 0.8;
    filter: blur(1px);
    cursor: not-allowed;
    pointer-events: none;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--sub-color-a);
    height:200px;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    background: var(--table-hover);
}
.switch{
    font-size : 15px;
    float : right;
    margin-right: 2%;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.switchBtn{
    appearance: none;
    position: relative;
    border: max(1px, 0.2em) solid var(--sub-color);
    border-radius: 1em;
    width: 4em;
    height: 2em;
    padding: 0;
}
.switchBtn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    transform: scale(0.7);
    background-color: gray;
    transition: left 250ms linear;
}
.switchBtn:checked::before {
    background-color: var(--sub-color);
    left: 2em;
}
.switchBtn:checked{
    background-color: var(--main-color);
    border-color: var(--sub-color);
}
.blue{
    color: var(--lightblue);
}
.red{
    color: var(--red);
}
.green{
    color: var(--green);
}
.purple{
    color: var(--purple);
}
.yellow{
    color: var(--yellow);
}
.info{
    color: var(--info);
}
.sub{
    color: var(--table-sub-text-color);
}
input:focus::placeholder{
    color:transparent;
}
@media screen and (max-width: 1024px) {
    .container-contents-button{
        font-size: 20px;
        padding: 25px 25px;
    }
    .centered{
        font-size: 17px;
    }
}