@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
*{
    font-family: 'Galmuri14';
}
html{
    margin: 0px;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    color: var(--basic-font);
    margin: 0px;
    font-weight: 600;
}
.background{
    background-color: var(--sub-color-a);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #000000;
}
.description{
    color: var(--bg-text);
}
.image-maindiv{
    display: flex;
    flex-direction: column;
    background-image: url(/image/background-image.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0px;
}
.out-container{
    /*min-width: 1000px;
    min-height: 700px;
    background-color: var(--main-color);*/
}

.indexBody::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}
ul,
li {
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
}
label {
    font-weight: 900;
}
.footer{
    height: 15px;
    position : relative;
    transform : translateY(-100%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    color: #eee;
}
.a {
    font-size: 12px;
    color: var(--border);
    text-decoration:none;
}
u {
    text-decoration-color: var(--sub-color);
}
footer {
    padding: 10px 25px;
    display: flex;
    min-height: 5%;
    flex-direction: row;
    justify-content: space-between;
    /* vertical-align: middle; */
    align-items: center;
}
.pd-10{
    padding:10px;
}
.pd-15{
    padding:15px;
}
.pd-20{
    padding:20px;
}
.w-10{
    width: 100%;
}
.w-9{
    width: 90%;
}
.w-8{
    width: 80%;
}
.w-7{
    width: 70%;
}
.w-6{
    width: 60%;
}
.w-5{
    width: 50%;
}
.w-4{
    width: 40%;
}
.w-3{
    width: 30%;
}
.w-2{
    width: 20%;
}
.w-1{
    width: 10%;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}
.fs-8{
    font-size: 8px;
}
.fs-9{
    font-size: 9px;
}
.fs-10{
    font-size: 10px;
}
.fs-11{
    font-size: 11px;
}
.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-15{
    margin-bottom: 15px;
}
.space-end{
    justify-content: flex-end;
}
.space-center{
    justify-content: center;
}
.box-sizing{
    box-sizing: border-box;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.border{
    border: 1px solid var(--border);
}
.shadow{
    box-shadow: 0 0 8px var(--border);
}
.table{
    border-radius: 4px;
    color: var(--table-main-text-color);
    font-size: 10px;
    width:100%;
    box-shadow: 0 0 8px var(--black);
}
.table thead tr th{
    color: var(--table-th-text-color);
    padding: 5px 5px;
    background-color: var(--table-th-color);
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
}
.table tbody tr td{
    background-color: var(--main-color);
    padding: 5px 5px;
    border-bottom: 1px solid var(--table-border);
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    gap: 15px;
}
.imageLogo{
    background-image: var(--page-logo);
    background-size: cover;
    width: 600px;
    height: 85px;
}
.container-title {
    display: flex;
    font-size: 36px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    grid-gap: 12px;
    gap: 15px;
}

.container-title-image {
    width: 2.2em;
    height: 2.2em;
}

.container-title-text {
    font-weight: 300;
    letter-spacing: 1px;
}

.container-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    gap: 15px;
    grid-row-gap: 15px;
    row-gap: 15px;
    padding: 0 12px;
}
.container-contents-last{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding-bottom: 15px;
}
.container-contents-button {
    font-size: 14px;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid var(--border);
    color: var(--sub-color);
    background-color: var(--btn-bg);
    text-decoration: none;
    padding: 10px 40px;
    align-content: center;
}
.container-contents-button:hover {
    color: var(--main-color);
    background: var(--btn-hover);
}
.link:hover {
    opacity: 0.5;
}
input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--sub-color);
    border-radius: 50%;
    outline: none;
    cursor:pointer;
}
input[type='radio']:checked {
    background-color: var(--sub-color);
    border: 3px solid var(--border);
}
.caption{
    font-size: 10px;
    padding-bottom: 5px;
}
fieldset {
    margin: 5% auto;
    border: 1px solid;
    animation: 3s rotate linear infinite;
    outline: none;
}
legend {
    text-align: center;
}
.flex-start{
    justify-content: flex-start;
}
.align-item-center{
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-vertical-center{
    align-items: center;
}
.flex-vertical-bottom{
    align-items: end;
}
.flex-vertical-start{
    align-items: start;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.chart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    gap: 15px;
}
.hover:hover{
    opacity:0.5;
}
:hover{
    transition: all 0.3s;
}
.border-top{
    border-top: 1px solid var(--border);
}
.border-bottom{
    border-bottom: 1px solid var(--border);
}
.blur{
    opacity: 0.8;
    filter: blur(1px);
    cursor: not-allowed;
    pointer-events: none;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--border);
    height: 100px;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    background: var(--black);
}
.switch{
    font-size: 14px;
    float : right;
    margin-right: 2%;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.switch span{
    color: #eee;
}
.switchBtn{
    appearance: none;
    position: relative;
    background-color: var(--main-color);
    border: max(1px, 0.2em) solid var(--bg-text);
    border-radius: 1em;
    width: 4em;
    height: 2em;
    padding: 0;
}
.switchBtn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    transform: scale(0.7);
    background-color: var(--sub-color);
    transition: left 250ms linear;
}
.switchBtn:checked{
    background-color: var(--main-color);
    border-color: var(--bg-text);
}
.switchBtn:checked::before {
    background-color: var(--sub-color);
    left: 2em;
}
.blue{
    color: var(--blue);
}
.red{
    color: var(--red);
}
.green{
    color: var(--green);
}
.purple{
    color: var(--purple);
}
.yellow{
    color: var(--yellow);
}
.info{
    color: var(--info);
}
.sub{
    color: var(--bg-text);
}
input:focus::placeholder{
    color:transparent;
}
.white{
    color: var(--white);
}
.discord{
    background-color: #5865F2;
    color: white;
    padding: 5px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 10px;
}
.footer-left{
    display: flex;
    flex-direction: row;
}
.footer-left-item{
    display:flex;
    align-items: center;
    border-right: 1px solid var(--bg-text);
    padding: 0px 10px;
}
.footer-right{
    width: 15%;
}
.clickIcon{
    font-size: 14px;
    color: var(--orange);
}
@media screen and (max-width: 1024px) {
    .container-contents-button{
        font-size: 20px;
        padding: 25px 25px;
    }
    .centered{
        font-size: 17px;
    }
}

/* 서부서버 서버측 네트워크 이상해서 잠시 블러 */
/*
.west{
    opacity: 0.8;
    filter: blur(1px);
    pointer-events: none;
}*/
