@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
body {
    background-color: #242020;
    color: #eee;
    font-family: 'Galmuri14';
}
a{
    text-decoration: none;
    color: #eee;
}
u {
  text-decoration: none;
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.container-title{
    display: flex;
    font-size: 2em;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    grid-gap: 12px;
    gap: 15px;
}
.container-title-image{
    width: 2.2em;
    height: 2.2em;    
}
.container-title-text{
    font-weight: 300;
    letter-spacing: 1px;
}
.container-contents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    gap: 15px;
    grid-row-gap: 15px;
    row-gap: 15px;
    padding: 0 12px;
}
.container-contents-button{
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #eee;
    color: #eee;
    text-decoration: none;
    padding: 15px 50px;
}
.container-contents-button:hover{
    color: #242020;
    background: #eee;
}
.link:hover{
    opacity: 0.5;
}