.kill{
    background-color : #6C1A1A;
}
.death{
    background-color : #676767;
}
.content-body-item-userGroup{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    gap: 15px;
    grid-row-gap: 15px;
    row-gap: 15px;
    padding: 0 12px;
}
.content-body-item-userGroup-userId{
    opacity: 0.5;
    margin: auto;
    color: #eee;
    font-weight: bold;
}
.content-body-item-userGroup-userId:hover{
    opacity: 1.0;
    margin: auto;
    color: #eee;
    font-weight: bold;
}