span{
    font-weight: 900;
}
.martlock{
    background-color: #45EFFF;
    color:#685243;
}
.thetford{
    background-color: #F514FF;
    color:#542968;
}
.fortsterling{
    background-color: #eee;
    color: #41406B;
}
.lymhurst{
    background-color: #13FF02;
    color: #3C3D26;
}
.bridgewatch{
    background-color: #FFFFA5;
    color: #5A3D3F;
}
.caerleon{
    background-color: #0E0B12;
    color: #eee;
}
.brecilian{
    background-color: #745ACB;
    color: #41406B;
}
table tbody tr:nth-child(1) {
    color:#45EFFF;
}
table tbody tr:nth-child(2) {
    color:#F514FF;
}
table tbody tr:nth-child(3) {
    color: #eee;
}
table tbody tr:nth-child(4) {
    color: #13FF02;
}
table tbody tr:nth-child(5) {
    color:#FFFFA5;
}
table tbody tr:nth-child(6) {
    color: #0E0B12;
}
table tbody tr:nth-child(7) {
    color: #745ACB;
}