.itemArea table{
    border-collapse: collapse;
}
.space{
    height : 10px;
}
.menu-ul{
    padding-inline-start: 0;
}
.server-legend{
    font-size: 1.17em;
}
.priceArea{
    display: flex;
    flex-wrap: wrap;
}
.server-fieldset{
    text-align : center;
}
img{
    width: 4em;
    height: 4em;
}
.search-detail{
    text-align: center;
}
.tierFieldset{
    text-align : center;
}
.itemImage{
    cursor : pointer;
    width: 4em;
    height: 4em;
}
.itemImage:hover{
    opacity: 0.7;
}
.content-searchDetail{
    display: none;
    flex-wrap: wrap;
}
.content-header-cities > span{
    display: flex;
    padding: 0 10px;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10%;
}
.btnDiv{
    align-content: space-around;
}
.btnSearch{
    font-size: 1em;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 0.5vw 1.5vw;
    background-color: #242020;
    color: #eee;
}
.btnSearch:hover{
    color: #242020;
    background: #eee;
}
.tier{
    font-size: 1em;
    font-weight: bold;
    margin: 0% 3%;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #242020;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
}
.martlock{
    border: 3px solid #627583;
    background-color : RGBA(98,117,131, 0.5);
    color:#D5A768;
    font-weight: 900;
}
.thetford{
    border: 3px solid #3A1F44;
    background-color : RGBA(58,31,68, 0.5);
    color:#A15AAA;
    font-weight: 900;
}
.fortsterling{
    border: 3px solid #FFFFFF;
    background-color : RGBA(255,255,255, 0.5);
    color: #626888;
    font-weight: 900;
}
.lymhurst{
    border: 3px solid #555F1D;
    background-color : RGBA(85,95,29, 0.5);
    color: #AEAE57;
    font-weight: 900;
}
.bridgewatch{
    border: 3px solid #D9601F;
    background-color : RGBA(217,96,31, 0.5);
    color: #FFF378;
    font-weight: 900;
}
.caerleon{
    border: 3px solid #0C0C16;
    background-color : RGBA(12,12,22, 0.5);
    color: #5E1710;
    font-weight: 900;
}
.brecilien{
    border: 3px solid #895AE2;
    background-color : RGBA(137,90,226, 0.5);
    color: #383F8A;
    font-weight: 900;
}
.blackmarket{
    border: 3px solid #0C0C16;
    background-color : RGBA(12,12,22, 0.5);
    color: #3F479C;
    font-weight: 900;
}
.selctedItem{
    border: 2px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 3s rotate linear infinite;
    outline: none;
}
input[type="text"]:focus{
    opacity : 1;
}
.itemArea{
    display: none;
    width: 100%;
    border: 1px solid rgba(238, 238, 238, 0.1);
}