a{
    text-decoration: none;
}
.image-maindiv{
    position: relative;
    background-image: url(/image/background-image-calculator.jpeg);
    height: auto;
    min-height: 100%;
    background-repeat: repeat;
}
.container-inquire {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    gap: 15px;
}
.flex-contatiner{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.input-text{
    width: 85%;
    color: var(--sub-color);
    background-color: var(--main-color-a);
    border: 1px solid var(--border);
    border-radius: 2px;
    box-sizing: border-box;
    padding: 8px;
    resize: none;
}
.input-text:hover, .input-text:focus {
    outline: none;
    border: 2px solid var(--sub-color);
}
.btn {
    cursor:pointer;
    font-size: 16px;
    border-radius: 2px;
    color: var(--sub-color);
    background: var(--main-color);
    border: 1px solid var(--border);
    text-shadow: none;
    padding: 10px 30px;
    min-width: 10%;
    text-align: center;
    align-content: center;
    box-shadow: 0 0 10px 0 var(--border);
}
.btn:hover {
    background-color: var(--main-color);
    color: var(--sub-color);
}
.inquireList{
    margin-top: 15px;
    width:100%;
    list-style: none;
    text-align: left;
}
.inquireList li{
    font-size: 0.8em;
    margin: 7.5px 0;
    padding: 10px 20px;
    color: var(--sub-color);
    background: var(--main-color);
    border: 1px solid var(--border);
    border-radius: 3px;
    box-shadow: 0 0 5px 0 var(--border);
}
.admin-answer{
    display: none;
    font-size: 0.8em;
    margin: 7.5px 0;
    padding: 10px 20px;
    color: var(--sub-color);
    background: var(--main-color);
    border: 1px solid var(--sub-color);
    border-radius: 3px;
    box-shadow: 0 0 10px 0 var(--shadow);
}
.right{
    cursor: pointer;
    float: right;
}
.right:hover{
    text-decoration: underline;
}
.full-width{
    width:40%;
}
.back-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 98%;
    max-width: 785px;
    margin: auto;
    padding-top: 15px;
}
.btn-back{
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    width: 130px;
    padding: 8px;
    color: var(--sub-color);
    background-color: var(--main-color);
    border: 1px solid var(--border);
    border-radius: 5px;
}
.btn-back:hover{
    opacity: 0.4;
}
.description{
    font-size: 12px;
    color: var(--bg-text);
}
@media screen and (max-width: 1024px) {
    .back-div{
        margin: 0;
    }
    .btn-back{
        font-size: 18px;
        padding: 15px 35px;
        margin-left: 10px;
    }
    .full-width{
        width: 95%;
    }
    .inquireList li, .btn{
        font-size: 20px;
    }
}