:root {
    --black : rgb(36, 32, 32);
    --white : rgb(255, 255, 255);
    --red : rgb(189, 0, 0);
    --blue: rgb(0, 100, 180);
    --lightblue: rgb(0, 141, 253);
    --green: rgb(45, 180, 0);
    --purple: rgb(129, 0, 180);
    --yellow: rgb(180, 168, 0);
    --alert-opacity: rgb(0 0 0);
}

body[data-theme='light-mode'] {
    --page-logo: url(/image/pageLogo_light.png);
    --logo: url(/image/logo_light.png);

    --main-color: rgb(255, 255, 255);
    --main-color-a: rgba(255, 255, 255, 0.5);
    --main-hover-color: rgb(175, 175, 175);
    
    --sub-color: rgb(56, 56, 56);
    --sub-color-a: rgba(56, 56, 56, 0.4);
    --textarea-color : rgba(51, 51, 51, 0.973);

    --table-tr-color: rgba(220, 220, 220, 0.5);
    --table-th-color: #2d2d2d;
    --table-th-text-color: #ffffff;
    --table-main-text-color: #000000;
    --table-sub-text-color: #5b5b5b;
    --table-hover : #2d2d2d;
    --info : #0862C4;
    --info-2: #35c408;

    --shadow: rgba(56, 56, 56);
    --board-under-color: rgba(238, 238, 238, 0.9);

    --input-text-color: rgba(220, 220, 220, 0.5);

    --table-hover : rgb(217, 217, 217);
}
body[data-theme='dark-mode'] {
    --page-logo: url(/image/pageLogo_dark.png);
    --logo: url(/image/logo_dark.png);

    --main-color: rgb(30, 30, 30);
    --main-color-a: rgba(30, 30, 30, 0.5);
    --main-hover-color: rgb(81, 81, 81);
    

    --sub-color: rgb(208, 208, 208);
    --sub-color-a: rgba(208, 208, 208, 0.8);
    --textarea-color : rgba(51, 51, 51, 0.973);

    --table-tr-color: rgba(0, 0, 0, 0.2);
    --table-th-color: #2d2d2d;
    --table-th-text-color: #dcdcdc;
    --table-main-text-color: #dcdcdc;
    --table-sub-text-color: #929292;
    --table-hover : #2d2d2d;
    --info : #0862C4;
    --info-2: #35c408;

    --shadow: rgba(0, 0, 0);
    --board-under-color: rgba(51, 51, 51, 0.9);

    --input-text-color: rgba(0, 0, 0, 0.2);
}