:root {
    /*  */
    --main-color: rgb(255, 255, 255);
    --main-color-a: rgba(255, 255, 255, 0.4);
    --sub-color: rgb(56, 56, 56);
    --sub-color-a: rgba(56, 56, 56, 0.4);
    --textarea-color : rgba(51, 51, 51, 0.973);
    --black : rgb(36, 32, 32);
    --white : rgb(255, 255, 255);
    --red : rgb(189, 0, 0);
    --blue: rgb(0, 100, 180);
    --alert-opacity: rgb(0 0 0);
    --table-tr-color: rgb(220, 220, 220, 0.5);
    /* --main-color: rgb(22, 22, 22);  */
    /* --sub-color: rgb(161, 161, 161); */
}