.image-maindiv{
    background-image: url(/image/background-image-battle.jpeg);
    height: auto;
    background-repeat: repeat;
}
.container{
    width: 100%;
    margin: auto auto 5vh;
}
img{
    width: 2.5vw;
    height: 2.5vw;
}
.inline{
    display: inline-block;
}
.text-small{
    font-size: 10px;
}
.flex-item{
    margin-top: 10px;
    min-width: 250px;
    border-radius: 8px;
}
.kill{
    border: 1px solid var(--border);
    box-shadow: 0 0 8px var(--border);
    max-height: 125px;
}
.heal{
    border: 1px solid var(--border);
    box-shadow: 0 0 8px var(--border);
    max-height: 125px;
}
.dps{
    border: 1px solid var(--border);
    box-shadow: 0 0 8px var(--border);
    max-height: 125px;
}
.bigdonation{
    border: 1px solid var(--border);
    box-shadow: 0 0 8px var(--border);
    min-width: 550px;
    min-height: 120px;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-title{
    text-align: left;
    padding: 10px;
    font-size: 12px;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-row{
    min-height : 40px;
    width:100%;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    overflow:hidden;
    padding: 4px 0;
}
.flex-vertical-center{
    align-items: center;
}
.flex-vertical-bottom{
    align-items: end;
}
.flex-left{
    justify-content: flex-end;
}
.flex-center{
    justify-content: center;
}
.gap{
    gap:15px;
}
.shadow{
    box-shadow: 0 0 8px var(--border);
}
.btn{
    cursor: pointer;
    font-size: 12px;
    width: 130px;
    padding: 9px;
    color: var(--main-color);
    background-color: var(--sub-color);
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.4;
}
.input{
    width: 100%;
    padding: 9px 11px;
    font-size: 16px;
    color: var(--main-color);
    background-color: var(--sub-color);
    border-width: 0;
    outline:none;
}
.input:hover, .input:focus{
    border: 2px solid var(--lightblue);
}

.search{
    cursor: pointer;
    padding: 9px;
    background-color: var(--sub-color);
    border-left : 1px solid var(--main-color);
}
.search:hover{
    opacity: 0.5;
}
.table{
    text-align: center;
    margin-top: 30px;
    font-size: 0.6em;
    width: 100%;
    table-layout: auto;
    box-shadow: 0 0 15px var(--border);
    border-radius: 8px;
}
.table thead tr th{
    padding: 15px 10px;
}
.table thead tr th:first-child{
    border-top-left-radius : 8px;
}
.table thead tr th:last-child{
    border-top-right-radius : 8px;
}
th {
    font-weight: bold;
    padding: 10px 10px;
    background-color: var(--table-th-color);
    color: var(--table-th-text-color);
}
table tbody tr:nth-child(odd) {
    background-color: var(--table-tr-color);
}
table tbody tr td:first-child{
    color: var(--table-main-text-color);
}
td {
    color: var(--table-sub-text-color);
    padding: 10px 10px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.table thead tr th:nth-child(1){
    text-align:left;
}
.table tbody tr td:nth-child(1){
    text-align:left;
}

.hover-background:hover{
    cursor:pointer;
    background-color: var(--table-hover);
}
.itemList{
    text-align:left;
}
.table th:nth-child(2){
    text-align:left;
}
table .col1 {
    width: 10%; 
}

table .col2 {
    width: 20%;
}

table .col3 {
    width: 10%;
}

table .col4 {
    width: 10%;
}

table .col5 {
    width: 10%;
}

table .col6 {
    width: 10%;
}


table .kill-col1 {
    width: 17%;
}

table .kill-col2 {
    width: 30%;
}

table .kill-col3 {
    width: 3%;
}

table .kill-col4 {
    width: 17%;
}

table .kill-col5 {
    width: 30%;
}

table .kill-col6 {
    width: 3%;
}
.allycol1 {
    width:38%;
}
.allycol2 {
    width:12%;
}
.allycol3 {
    width:8%;
}
.allycol4 {
    width:8%;
}
.allycol5 {
    width:20%;
}
.allycol6 {
    width:15%;
}

.kill-table td:nth-child(3){
    border-right: 1px dashed var(--sub-color);
}
.kill-table td:nth-child(1){
    color: var(--green);
}
.kill-table td:nth-child(4){
    color: var(--red);
}
.kill-table{
    text-align : left;
}

.guild-name{
    color: var(--lightblue);
}
.guild-name:hover{
    cursor: pointer;
    text-decoration: underline;
}
.top-table-div{
    width: 700px;
    padding: 10px 10px;
}
.middle-table-div{
    width: 75%;
    padding: 10px 10px;
}
.table-title{
    text-align: left;
    float:left;
    font-size: 16px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.back-div{
    display: flex;
    padding-top: 20px;
    width: auto;
    margin: auto 17vw;
}
.detailDiv{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: baseline;
    justify-content: space-between;
}
.flex-grow-1{
    flex-grow: 1;
}
.detailFirst{
    text-align: left;
}
.detailEnd{
    text-align: right;
}
.playerName{
    display: block;
    margin-bottom: -5px;
}
.playerGuildName{
    color: var(--bg-text);
    font-size: 10px;
}
.imageArea{
    display:grid;
    width: 440px;
    grid-template-columns: repeat(auto-fit, 2.1vw);
    justify-content: end;
}
.imageArea img{
    width: 2.5vw;
    height: 2.5vw;
}
.border{
    border: 1px solid var(--border);
}
.trHover{
    background-color: var(--table-hover);
}
.detailAlly{
    color: var(--table-sub-text-color);
}
@media screen and (max-width: 1024px) {
    p{
        margin-top: 0;

    }
    .flex-column, .top-table-div{
        width: 1200px;
    }
    .back-div{
        margin: auto;
    }
    .table-title{
        font-size: 26px;
    }
    .playerName, .detailEnd{
        font-size: 20px;
    }
    .playerGuildName, .table{
        font-size: 14px;
    }
    .flex-title{
        font-size: 22px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .detailDiv{
        padding-top: 0px;
    }
    .imageArea{
        width: 100%;
        grid-template-columns: repeat(auto-fit, 55px);
    }
    .imageArea img{
        width: 65px;
        height: 65px;
    }
    img{
        width: 50px;
        height: 50px;
    }
    .middle-table-div{
        width: 100%;
    }

}