<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />

    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 - 아머 ⚔</title>
</head>
<body>
<!--    <div class="container" >-->
<!--        <p th:text="${text}">text</p>-->
<!--    </div>-->
            <div class="header">
                <a class="header-logo" href="/">Albion Helper</a>
            </div>

            <div class="main">
                <div class="menu-detail">
                    <h2 style="text-align: center;">메 뉴</h2>
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </div>
                <div class="centered">
                    <div class="content-header">
                        <h2 id="contentTitle">타이틀</h2>
                        <hr/>
                    </div>
                    <div class="content-body">
                        <h2>여기부터는 본문</h2>
                        <div class="content-body-item">
                            <img />
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <p>footer 입니다.</p>
            </div>
</body>
</html>