<!DOCTYPE html>
<html>
<head>
<!--    <link rel="stylesheet" href="/static/css/index.css" />-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/util.js"></script>
    <link rel="stylesheet" href="/css/loading.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 ⚔</title>
</head>
<style>


</style>
<body class="indexBody">
    <div class="container">
        <div class="container-title">
            <img class="container-title-image" src="https://render.albiononline.com/v1/spell/Fear Aura.png?locale=en"  alt="이미지 없음."/>
            <h2>알비온 헬퍼</h2>
            <img class="container-title-image" src="https://render.albiononline.com/v1/wardrobe/UNIQUE_HEAD_VANITY_PUMPKIN_02.png"  alt="이미지 없음."/>
        </div>
        <div class="container-contents">
            <a class="container-contents-button" href="/calculator/cooking">🍖 요리 계산기 🍖</a>
            <a class="container-contents-button" href="/calculator/butcher">🐖 도살장 계산기 🐄</a>
            <a class="container-contents-button" href="/calculator/mill">🧀 방앗간 계산기 🥛</a>
            <a class="container-contents-button" href="/calculator/refining">🔨 제련 계산기 🧱</a>
            <a class="container-contents-button" href="/killboard">🏹 플레이어 킬&데스 로그 💀</a>
            <a class="container-contents-button" href="/market">🔍 시장가격 조회 🔍</a>
            <a class="container-contents-button" href="/gold">💰 서버별 골드 시세 💰</a>
            <a class="container-contents-button blur" href="/">준비중...</a>
            <a class="container-contents-button blur" href="/">준비중...</a>
<!--            <a class="container-contents-button" href="/">💉 포션 이익 계산기</a>-->
<!--            <a class="container-contents-button" href="/">🏹 무기 정보</a>-->
<!--            <a class="container-contents-button" href="/">🥋 방어구 정보</a>-->
<!--            <a class="container-contents-button" href="/">🛠 도구 정보</a>-->
<!--            <a class="container-contents-button" href="/">🔍 친선 검색</a>-->
        </div>
        <div class="container-contents-last">
            <a class="container-contents-button" href="/board">🌈 유저 게시판</a>
            <a class="container-contents-button" href="/toinquire">💀 관리자 문의 & 죽음의 피드백</a>
        </div>
        <div class="main">
            <div class="centered">
                <p>오로지 알비온 유저들을 위한..</p>
            </div>
        </div>
    </div>

    <div id="blackArea">
        <div id="loading">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <h1>정보 요청중..</h1>
        </div>
    </div>

</body>
</html>