<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <link rel="stylesheet" href="/static/css/index.css" />-->

    <link rel="stylesheet" href="/css/index.css" />
    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 ⚔</title>
</head>
<body>
<!--    <div class="container" >-->
<!--        <p th:text="${text}">text</p>-->
<!--    </div>-->
    <div class="container">
        <div class="container-title">
            <img class="container-title-image" src="https://render.albiononline.com/v1/wardrobe/UNIQUE_HEAD_VANITY_PUMPKIN_01.png"  alt="이미지 없음."/>
            <h2>알비온 헬퍼</h2>
            <img class="container-title-image" src="https://render.albiononline.com/v1/wardrobe/UNIQUE_HEAD_VANITY_PUMPKIN_01.png"  alt="이미지 없음."/>
        </div>
        <div class="container-contents">
            <a class="container-contents-button" href="/market">🔍 시장 검색</a>
            <a class="container-contents-button" href="/killboard">🔍 킬보드</a>
<!--            <a class="container-contents-button" href="/weapon">🏹 무기 정보</a>-->
<!--            <a class="container-contents-button" href="/armors">🥋 방어구 정보</a>-->
<!--            <a class="container-contents-button" href="/tools">🛠 도구 정보</a>-->
<!--            <a class="container-contents-button" href="/market">🔍 친선 검색</a>-->
<!--            <a class="container-contents-button" href="/market">🔍 친선 검색</a>-->
        </div>
    </div>

</body>
</html>