<!DOCTYPE html>
<html>
<head>
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- <script type="text/javascript" src="/static/js/util.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css" />
    <link rel="stylesheet" href="/static/css/loading.css" />
    <link rel="stylesheet" href="/static/css/index.css" /> -->

    <script type="text/javascript" src="/jsMin/util.js"></script>
    <link rel="stylesheet" href="/css/variable.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <meta charset="UTF-8">
    <!-- google -->
    <meta name="google-site-verification" content="tGJb48BRPPWIywrGMhadQVjHlnU5Lo_sljuCE4xKY3o" />
    <!-- naver -->
    <meta name="naver-site-verification" content="f7fd2be1a423770e54e23798cb27557a94f2b38a" />
    <meta name="description" content="알비온 유저가 만든 베틀로그, 시장가격 조회, 각종 계산기 등이 포함된 페이지입니다.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="AlbionGG">
    <meta property="og:description" content="알비온 유저가 만든 페이지로 베틀로그, 제련 및 요리 계산기, 시장가격 조회 등이 포함된 페이지입니다.">
    <meta property="og:image" content="/image/og_image.png">
    <meta property="og:url" content="https://albiongg.com">

    <title>AlbionGG ⚔</title>
</head>
<body class="indexBody" data-theme="light-mode">
<script type="text/javascript" src="/jsMin/toggle.js"></script>
    <div class="image-maindiv">
<!--        <div class="out-container">-->
            <div class="container">
                <div class="container-title">
                    <img class="container-title-image" src="https://render.albiononline.com/v1/spell/Fear Aura.png?locale=en"  alt="이미지 없음."/>
                    <div class="imageLogo"></div>
                    <img class="container-title-image" src="https://render.albiononline.com/v1/wardrobe/UNIQUE_HEAD_VANITY_PUMPKIN_02.png"  alt="이미지 없음."/>
                </div>
                <div class="container-contents">
                    <a class="container-contents-button" href="/battle">🏹 그룹단위 Battles</a>
                    <a class="container-contents-button" href="/killboard">💀 플레이어 정보 & Battles</a>
                    <a class="container-contents-button" href="/market">🔍 시장가격 조회</a>
                    <a class="container-contents-button" href="/calculator/refining">🔨 제련 계산기</a>
                    <a class="container-contents-button" href="/calculator/cooking">🍖 요리 계산기</a>
                    <a class="container-contents-button" href="/calculator/butcher">🐖 도살장 계산기</a>
                    <a class="container-contents-button" href="/calculator/mill">🥛 방앗간 계산기</a>
                    <a class="container-contents-button" href="/gold">💰 서버별 골드 시세</a>
<!--                    <a class="container-contents-button blur" href="/">준비중</a>-->
                    <a class="container-contents-button " href="/tierList">🥇티어 리스트</a>
                    <a class="container-contents-button blur" href="/item">🥇아이템 정보(준비중)</a>
                    <a class="container-contents-button blur" href="/">준비중</a>
                    <a class="container-contents-button blur" href="/">준비중</a>
        <!--            <a class="container-contents-button" href="/">💉 포션 이익 계산기</a>-->
        <!--            <a class="container-contents-button" href="/">🏹 무기 정보</a>-->
        <!--            <a class="container-contents-button" href="/">🥋 방어구 정보</a>-->
        <!--            <a class="container-contents-button" href="/">🛠 도구 정보</a>-->
        <!--            <a class="container-contents-button" href="/">🔍 친선 검색</a>-->
                </div>
                <div class="container-contents-last">
                    <a class="container-contents-button" href="/board">🌈 유저 게시판</a>
                    <a class="container-contents-button" href="/toinquire">💀 관리자 문의 & 죽음의 피드백</a>
                </div>
                <div class="main">
                    <div class="centered description">
                        <p>알비온 온라인을 플레이하는 유저들을 위한 페이지.</p>
                        <p>Chrome 브라우저에서 이용하기를 권장합니다.</p>
                    </div>
                </div>
            </div>

            <footer>
                <div class="footer-left">
                    <div class="footer-left-item">
                        <a class="hover discord a" href="https://discord.gg/t9FnKBUZZR">
                           <i class="fa-brands fa-discord"></i>
                        </a>
                    </div>
                    <div class="footer-left-item">
                        <a class="hover a" href="/info">정확한 마켓 데이터 가격 기여<i class="fa-solid fa-hand-pointer clickIcon"></i></a>
                    </div>
                </div>
                <div class="footer-right">
                    <label class="switch">
                        <input class="switchBtn" role="switch" type="checkbox" />
                        <span>다크 모드</span>
                    </label>
                </div>
            </footer>
<!--        </div>-->
    </div>

    <div id="blackArea">
        <div id="loading">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <h1>정보 요청중..</h1>
        </div>
    </div>

</body>
</html>