<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <link rel="stylesheet" href="/static/css/index.css" />-->
<!--    <link rel="stylesheet" href="/static/css/detail.css" />-->
<!--    <script type="text/javascript" src="/static/js/table.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/market.css" />
    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 - 보스 타이머 ⚔</title>
</head>
<body>
<!--    <div class="container" >-->
<!--        <p th:text="${text}">text</p> -->
<!--    </div>-->
            <div class="header">
                <a class="header-logo" href="/">Albion Helper</a>
            </div>

            <div class="main">

                <div class="menu-detail">
                    <div>
                        <h3>🟥 던전 종류 🟥</h3>
                        <ul class="menu-ul" id="categoryList">
                            <li value="8">8티</li>
                            <li value="7">7티</li>
                            <li value="6">6티</li>
                            <li value="5">5티</li>
                        </ul>
                    </div>
                </div>


                <div class="centered">
                    <div class="content-header">
                        <h2 id="contentTitle">타이머</h2>
                        <!--
                            가장빠른 22.5min
                            가장늦은 1hour 10min
                            평균    45min
                         -->
                    </div>

                    <div class="content-body">
                        <div id="contentsArea" class="content-body-item">

                        </div>
                        <div id="secondContentsArea" class="content-body-item">

                        </div>
                    </div>

                    <div class="content-searchDetail">

                    </div>
                </div>
            </div> <!-- main -->
</body>
</html>


<!--<img class="itemImage" src="https://render.albiononline.com/v1/item/T4_SHOES_LEATHER_SET1@4.png?quality=5"  alt=""/>-->
<!--<img class="itemImage" src="https://render.albiononline.com/v1/item/T4_SHOES_LEATHER_SET2@4.png?quality=5"  alt=""/>-->
<!--<img class="itemImage" src="https://render.albiononline.com/v1/item/T4_SHOES_LEATHER_SET3@4.png?quality=5"  alt=""/>-->
<!--<img class="itemImage" src="https://render.albiononline.com/v1/item/T4_SHOES_LEATHER_ROYAL@4.png?quality=5"  alt=""/>-->
<!--<img class="itemImage" src="https://render.albiononline.com/v1/item/T4_SHOES_LEATHER_MORGANA@4.png?quality=5"  alt=""/>-->
<!--<img class="itemImage" src="https://render.albiononline.com/v1/item/T4_SHOES_LEATHER_HELL@4.png?quality=5"  alt=""/>-->
<!--<img class="itemImage" src="https://render.albiononline.com/v1/item/T4_SHOES_LEATHER_UNDEAD@4.png?quality=5"  alt=""/>-->
<!--<img class="itemImage" src="https://render.albiononline.com/v1/item/T4_SHOES_LEATHER_AVALON@4.png?quality=5"  alt=""/>-->
<!--<img class="itemImage" src="https://render.albiononline.com/v1/item/T4_SHOES_LEATHER_FEY@4.png?quality=5"  alt=""/>-->