<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


<!--    <link rel="stylesheet" href="/static/css/variable.css" />-->
<!--    <link rel="stylesheet" href="/static/css/loading.css" />-->
<!--    <link rel="stylesheet" href="/static/css/index.css" />-->
<!--    <link rel="stylesheet" href="/static/css/detail.css" />-->

    <script type="text/javascript" src="/jsMin/util.js"></script>
    <link rel="stylesheet" href="/css/gold/gold.css" />
    <link rel="stylesheet" href="/css/variable.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <meta charset="UTF-8">
    <title>알비온 GG - 골드 시세 ⚔</title>
</head>
<body data-theme="light-mode">
<script type="text/javascript" src="/jsMin/toggle.js"></script>
<div class="image-maindiv">
<div th:replace="~{header :: header}"></div>
    <div class="back-div">
        <a class="btn-back text-center" href="javascript:history.back();">뒤로 가기</a>
    </div>
    <div class="container">
        <div class="container-title">
            <h3 style="margin: 0;">💰골드 시세💰</h3>
        </div>
        <div>
            <div>
                <canvas id="myChart-all" width="975" height="300"></canvas>
            </div>
        </div>


        <div class="sub-chart-div">
            <div class="chart-div">
                <canvas class="chart" id="myChart-east" width="500" height="300"></canvas>
            </div>

            <div class="chart-div">
                <canvas class="chart" id="myChart-west" width="500" height="300"></canvas>
            </div>

            <div class="chart-div">
                <canvas class="chart" id="myChart-europe" width="500" height="300"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">
    const DISPLAY = true;
    const BORDER = true;
    const CHART_AREA = true;
    const TICKS = true;

    let myCt01 = document.getElementById('myChart-east');
    let myCt02 = document.getElementById('myChart-west');
    let myCt03 = document.getElementById('myChart-europe');
    let myCt04 = document.getElementById('myChart-all');


    var east = [[${east}]];
    var east_time_Arr = [];
    var east_price_Arr = [];
    for(var i = 0; i < east.length; i++){
        east_time_Arr[i] = east[i].s_timestamp;
        east_price_Arr[i] = east[i].price;
    }


    var west = [[${west}]];
    var west_time_Arr = [];
    var west_price_Arr = [];
    for(var i = 0; i < west.length; i++){
        west_time_Arr[i] = west[i].s_timestamp;
        west_price_Arr[i] = west[i].price;
    }

    var europe = [[${europe}]];
    var europe_time_Arr = [];
    var europe_price_Arr = [];
    for(var i = 0; i < europe.length; i++){
        europe_time_Arr[i] = europe[i].s_timestamp;
        europe_price_Arr[i] = europe[i].price;
    }

    new Chart(myCt01, {
      type: 'line',
      data: {
        labels: east_time_Arr,
        datasets: [{
            data: east_price_Arr,
            label: "EAST 서버",
            borderColor: "#4DC370",
            backgroundColor : "#4DC370",
            fill: false
          }
        ]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: '동부 서버'
          }
        },
      },
    });


    new Chart(myCt02, {
    type: 'line',
      data: {
        labels: west_time_Arr,
        datasets: [{
            data: west_price_Arr,
            label: "WEST 서버",
            borderColor: "#519EC0",
            backgroundColor : "#519EC0",
            fill: false
          }
        ]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: '서부 서버'
          }
        },
      },
    });

    new Chart(myCt03, {
    type: 'line',
      data: {
        labels: europe_time_Arr,
        datasets: [{
            data: europe_price_Arr,
            label: "EUROPE 서버",
            borderColor: "#BE5E5E",
            backgroundColor : "#BE5E5E",
            fill: false
          }
        ]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: '유럽 서버'
          }
        },
      },
    });


    new Chart(myCt04, {
        type: 'line',
        data: {
        labels: europe_time_Arr,
        datasets: [{
            data: europe_price_Arr,
            label: "EUROPE 서버",
            borderColor: "#BE5E5E",
            backgroundColor : "#BE5E5E",
            fill: false
          },{
            data: west_price_Arr,
            label: "WEST 서버",
            borderColor: "#519EC0",
            backgroundColor : "#519EC0",
            fill: false
          },{
            data: east_price_Arr,
            label: "EAST 서버",
            borderColor: "#4DC370",
            backgroundColor : "#4DC370",
            fill: false
          }]
        },
        options: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: '각 서버별 골드 시세'
          }
        },
      },
    });
</script>

</body>
</html>