<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/loading.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 ⚔</title>
</head>
<body>

    <div class="header">
        <a class="header-logo" href="/">⚔ 알비온 헬퍼</a>
    </div>

    <div style="display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;">
        <div class="container-title">
            <h3>💰골드 시세💰</h3>
        </div>
        <div style="margin-bottom: 1vw;">
            <div>
                <canvas id="myChart-all" width="1000" height="300" style="margin: 1vw;"></canvas>
            </div>
        </div>


        <div style="display: flex;
                    justify-content: center;
                    row-gap: 15px;
                    padding: 0 12px;
                    margin: 1vw;">
            <div>
                <canvas id="myChart-east" width="500" height="300" style="margin: 1vw;"></canvas>
            </div>

            <div>
                <canvas id="myChart-west" width="500" height="300" style="margin: 1vw;"></canvas>
            </div>

            <div>
                <canvas id="myChart-europe" width="500" height="300" style="margin: 1vw;"></canvas>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">
    const DISPLAY = true;
    const BORDER = true;
    const CHART_AREA = true;
    const TICKS = true;

    let myCt01 = document.getElementById('myChart-east');
    let myCt02 = document.getElementById('myChart-west');
    let myCt03 = document.getElementById('myChart-europe');
    let myCt04 = document.getElementById('myChart-all');


    var east = [[${east}]];
    var east_time_Arr = [];
    var east_price_Arr = [];
    for(var i = 0; i < east.length; i++){
        east_time_Arr[i] = east[i].s_timestamp;
        east_price_Arr[i] = east[i].price;
    }


    var west = [[${west}]];
    var west_time_Arr = [];
    var west_price_Arr = [];
    for(var i = 0; i < west.length; i++){
        west_time_Arr[i] = west[i].s_timestamp;
        west_price_Arr[i] = west[i].price;
    }

    var europe = [[${europe}]];
    var europe_time_Arr = [];
    var europe_price_Arr = [];
    for(var i = 0; i < europe.length; i++){
        europe_time_Arr[i] = europe[i].s_timestamp;
        europe_price_Arr[i] = europe[i].price;
    }

    new Chart(myCt01, {
      type: 'line',
      data: {
        labels: east_time_Arr,
        datasets: [{
            data: east_price_Arr,
            label: "EAST 서버",
            borderColor: "#4DC370",
            backgroundColor : "#4DC370",
            fill: false
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: '동부 서버'
          }
        },
        scales: {
          x: {
            border: {
              display: false
            },
            grid: {
              color: function(context) {
                return '#3B3333';
              },
            }
          },
          y: {
            border: {
              display: false
            },
            grid: {
              color: function(context) {
                return '#3B3333';
              },
            },
          }
        }
      },
    });


    new Chart(myCt02, {
    type: 'line',
      data: {
        labels: west_time_Arr,
        datasets: [{
            data: west_price_Arr,
            label: "WEST 서버",
            borderColor: "#519EC0",
            backgroundColor : "#519EC0",
            fill: false
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: '서부 서버'
          }
        },
        scales: {
          x: {
            border: {
              display: false
            },
            grid: {
              color: function(context) {
                return '#3B3333';
              },
            }
          },
          y: {
            border: {
              display: false
            },
            grid: {
              color: function(context) {
                return '#3B3333';
              },
            },
          }
        }
      },
    });

    new Chart(myCt03, {
    type: 'line',
      data: {
        labels: europe_time_Arr,
        datasets: [{
            data: europe_price_Arr,
            label: "EUROPE 서버",
            borderColor: "#BE5E5E",
            backgroundColor : "#BE5E5E",
            fill: false
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: '유럽 서버'
          }
        },
        scales: {
          x: {
            border: {
              display: false
            },
            grid: {
              color: function(context) {
                return '#3B3333';
              },
            }
          },
          y: {
            border: {
              display: false
            },
            grid: {
              color: function(context) {
                return '#3B3333';
              },
            },
          }
        }
      },
    });


    new Chart(myCt04, {
        type: 'line',
        data: {
        labels: europe_time_Arr,
        datasets: [{
            data: europe_price_Arr,
            label: "EUROPE 서버",
            borderColor: "#BE5E5E",
            backgroundColor : "#BE5E5E",
            fill: false
          },{
            data: west_price_Arr,
            label: "WEST 서버",
            borderColor: "#519EC0",
            backgroundColor : "#519EC0",
            fill: false
          },{
            data: east_price_Arr,
            label: "EAST 서버",
            borderColor: "#4DC370",
            backgroundColor : "#4DC370",
            fill: false
          }]
        },
        options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: '각 서버별 골드 시세'
          }
        },
        scales: {
          x: {
            border: {
              display: false
            },
            grid: {
              color: function(context) {
                return '#3B3333';
              },
            },
          },
          y: {
            border: {
              display: false
            },
            grid: {
              color: function(context) {
                return '#3B3333';
              },
            },
          }
        }
      },
    });
</script>

</body>
</html>