<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


    <!--<script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/variable.js"></script>
    <script type="text/javascript" src="/static/js/market.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="stylesheet" href="/static/css/market.css" />
    <link rel="stylesheet" href="/static/css/loading.css" />-->


     <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/variable.js"></script>
    <script type="text/javascript" src="/js/market.js"></script>
    <link rel="stylesheet" href="/css/variable.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/market.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <meta charset="UTF-8">
    <title>알비온 GG - 시장 검색 ⚔</title>
</head>
<body data-theme="light-mode">
<script type="text/javascript" src="/js/toggle.js"></script>
<div class="image-maindiv">
<div th:replace="~{header :: header}"></div>

            <div class="main">

                <div class="menu-detail">
                    <div class="flex-div">
                        <div class="flex-item">
                            <p>🔻 서버 선택 🔻</p>
                            <input type="radio" id="server01" name="server" value="east" checked/>
                            <label for="server01">아시아</label>
                            <input type="radio" id="server02" name="server" value="west" />
                            <label for="server02">아메리카</label>
                            <input type="radio" id="server03" name="server" value="europe" />
                            <label for="server03">유럽</label>
                        </div>

                        <div class="flex-item">
                            <p>🔻 품질 🔻</p>
                            <input type="radio" id="quality" name="quality" value="1"/>
                            <label for="quality">일반</label>
                            <input type="radio" id="quality02" name="quality" value="2" />
                            <label for="quality02">좋음</label>
                            <input type="radio" id="quality03" name="quality" value="3" />
                            <label for="quality03">뛰어남</label>
                            <input type="radio" id="quality04" name="quality" value="4" checked/>
                            <label for="quality04">우수함</label>
                            <input type="radio" id="quality05" name="quality" value="5" />
                            <label for="quality05">걸작</label>
                        </div>

                        <div class="flex-item">
                            <p>🔻 티어 🔻</p>
                            <select id="tier" class="tier">
                                <option value="T3">3</option>
                                <option value="T4">4</option>
                                <option value="T5">5</option>
                                <option value="T6" selected>6</option>
                                <option value="T7">7</option>
                                <option value="T8">8</option>
                            </select>
                            <select id="dotTier" class="tier">
                                <option value="" selected>.0</option>
                                <option value="@1">.1</option>
                                <option value="@2">.2</option>
                                <option value="@3">.3</option>
                                <option value="@4">.4</option>
                            </select>
                        </div>

                        <div class="flex-item">
                            <p>🔻 카테고리(클릭) 🔻</p>
                            <ul class="menu-ul" id="categoryList">
                                <li value="warrior">워리어 무기 & 보조 무기(방패)</li>
                                <li value="helmet">헬멧</li>
                                <li value="armor">갑옷</li>
                                <li value="boots">부츠</li>
                                <hr/>
                                <li value="hunter">헌터 무기 & 보조 무기(횃불)</li>
                                <li value="hood">후드</li>
                                <li value="jacket">재킷</li>
                                <li value="shoes">신발</li>
                                <hr/>
                                <li value="mage">메이지 무기 & 보조 무기(서적)</li>
                                <li value="cowl">두건</li>
                                <li value="robe">로브</li>
                                <li value="sandals">샌들</li>
                                <hr/>
                                <li value="cape">망토</li>
                                <li value="bag">가방</li>
                                <hr/>
                                <li value="potion">포션</li>
                                <li value="food">음식</li>

                                <!--                        <li>팩션 명품</li>-->
                                <!--                        <li>도시 명품</li>-->
                                <!--                        <li>아티펙트</li>-->
                                <!--                        <li>소모품</li>-->
                                <!--                        <li>동물, 씨앗</li>-->
                                <!--                        <li>가구</li>-->
                                <!--                        <li>채집 장비</li>-->
                                <!--                        <li>채집 도구</li>-->
                            </ul>
                        </div>
                    </div>
                </div> <!-- class="main" -->


                <div class="centered">
                    <div class="content-header">
                        <h2 id="contentTitle">🔍시장 검색🔍</h2>
                        <label class="selectedCate" style="display: none;"></label>
                    </div>

                    <div class="content-body">
                        <div id="contentsArea" class="content-body-item">

                        </div>
                        <div id="secondContentsArea" class="content-body-item">

                        </div>
                    </div>

                    <hr/>

                    <div class="content-searchDetail">

                        <!--<div class="search-detail content-body-item">
                                <label class="thetford">뎃포트</label>
                                <label class="martlock">마트록</label>
                                <label class="lymhurst">림허스트</label>
                                <label class="fortsterling">포트스털링</label>
                                <label class="caerleon">칼레온</label>
                                <label class="bridgewatch">브릿지워치</label>
                                <label class="brecilien">브리실리안</label>
                                <label class="blackmarket">암시장</label>
                        </div>-->

<!--                        <div class="btnDiv search-detail">-->
<!--                            <h3>🔻클릭🔻</h3>-->
<!--                            <button id="searchBtn" class="btnSearch">🔍검색</button>-->
<!--                        </div>-->
                    </div>

                    <div class="priceArea">

                        <div class="itemArea">
                                <table id="marketTable">
                                    <caption><img src="" alt=""/></caption>
                                    <thead>
                                        <tr>
                                            <th>도시</th>
                                            <th>최저가 판매</th>
                                            <th>최고가 판매</th>
                                            <th>최저가 구매</th>
                                            <th>최고가 구매</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>

                <div id="blackArea">
                    <div id="loading">
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>
                        <div class="stick"></div>

                        <h1>정보 요청중..</h1>
                    </div>
                </div>

            </div> <!-- main -->
            <div class="footer">
                <span>All <a href="https://albiononline.com/news" target="_blank" style="text-decoration: underline;">Albion Online</a> related materials are property of <a href="https://albiononline.com/imprint" target="_blank" style="text-decoration: underline;">Sandbox Interactive GmbH</a></span>
                <span>Prices are provided by the <a href="https://www.albion-online-data.com/" target="_blank" style="text-decoration: underline;">Albion Online Data Project</a></span>
            </div>
</div>
</body>
</html>
