<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <link rel="stylesheet" href="/static/css/index.css" />-->
<!--    <link rel="stylesheet" href="/static/css/detail.css" />-->
<!--    <script type="text/javascript" src="/static/js/table.js"></script>-->
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/market.css" />
    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 - 시장 검색 ⚔</title>
</head>
<body>
<!--    <div class="container" >-->
<!--        <p th:text="${text}">text</p> -->
<!--    </div>-->
            <div class="header">
                <a class="header-logo" href="/">Albion Helper</a>
            </div>

            <div class="main">

                <div class="menu-detail">
                    <div>
                        <h2>🔻 종 류 🔻</h2>
                        <ul class="menu-ul">
                            <li><a href="/market/price?type=warrior">워리어 무기</a></li>
                            <li><a href="/market/price?type=mage">메이지 무기</a></li>
                            <li><a href="/market/price?type=hunter">헌터 무기</a></li>
                            <li><a href="/market/price?type=plate">워리어계열 갑옷</a></li>
                            <li><a href="/market/price?type=jacket">헌터계열 재킷</a></li>
                            <li><a href="/market/price?type=robe">메이지계열 로브</a></li>
                            <li><a href="/market/price?type=cape">망토</a></li>
                            <li><a href="/market/price?type=bag">가방</a></li>
                            <!--                        <li>팩션 명품</li>-->
                            <!--                        <li>도시 명품</li>-->
                            <!--                        <li>아티펙트</li>-->
                            <!--                        <li>소모품</li>-->
                            <!--                        <li>동물, 씨앗</li>-->
                            <!--                        <li>가구</li>-->
                            <!--                        <li>채집 장비</li>-->
                            <!--                        <li>채집 도구</li>-->
                        </ul>
                    </div>
                    <div>
                        <h2>🔻 도시 선택 🔻</h2>
                        <input type="checkbox" id="cities" name="cities">
                        <label class="martlock" for="cities">마트록</label>
                        <input type="checkbox" id="cities02" name="cities">
                        <label class="thetford" for="cities02">뎃포트</label>
                        <input type="checkbox" id="cities03" name="cities">
                        <label class="bridgewatch" for="cities03">브릿지워치</label>
                        <input type="checkbox" id="cities04" name="cities">
                        <label class="fortsterling" for="cities04">포트스털링</label>
                        <input type="checkbox" id="cities05" name="cities">
                        <label class="lymhurst" for="cities05">림허스트</label>
                        <input type="checkbox" id="cities06" name="cities">
                        <label class="caerleon" for="cities06">칼레온</label>
                        <input type="checkbox" id="cities07" name="cities">
                        <label class="brecilian" for="cities07">브리실리안</label>
                    </div>

                    <div>
                        <h2>🔻 품질 🔻</h2>
                        <input type="radio" id="quality" name="quality" value="1" checked/>
                        <label for="quality">일반</label>
                        <input type="radio" id="quality02" name="quality" value="2" />
                        <label for="quality02">좋음</label>
                        <input type="radio" id="quality03" name="quality" value="3" />
                        <label for="quality03">뛰어남</label>
                        <input type="radio" id="quality04" name="quality" value="4" />
                        <label for="quality04">우수함</label>
                        <input type="radio" id="quality05" name="quality" value="5" />
                        <label for="quality05">걸작</label>
                    </div>

                    <div>
                        <h2>🔻 티어 🔻</h2>
                        <select id="tier" class="tier">
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                        <select id="dotTier" class="tier">
                            <option value="0">.0</option>
                            <option value="1">.1</option>
                            <option value="2">.2</option>
                            <option value="3">.3</option>
                            <option value="4">.4</option>
                        </select>
                    </div>

                    <div class="menu">
                        <button class="btnSearch">검색!</button>
                        <button class="btnSearch">초기화</button>
                    </div>

                </div> <!-- class="main" -->

                <div class="centered">
                    <div class="content-header">
                        <h2 id="contentTitle">🔍 시장 검색 🔍</h2>
                    </div>
                    <hr/>
                    <div class="content-header-cities">
                        <span class="martlock">마트록</span>
                        <span class="thetford">뎃포드</span>
                        <span class="fortsterling">포트스털링</span>
                        <span class="lymhurst">림허스트</span>
                        <span class="bridgewatch">브릿지워치</span>
                        <span class="caerleon">칼레온</span>
                        <span class="brecilian">브리실리안</span>
                    </div>
                    <div class="content-body">
                        <div class="content-body-item">

                        </div>
                    </div>
                </div>
            </div> <!-- main -->
</body>
</html>

<!--<div class="tier">-->
<!--    <input type="radio" id="tier02" name="tier" value="2" />-->
<!--    <label for="tier02" style="color : #605147;">2</label>-->
<!--</div>-->
<!--<div class="tier">-->
<!--    <input type="radio" id="tier03" name="tier" value="3" />-->
<!--    <label for="tier03" style="color : #37462B;">3</label>-->
<!--</div>-->

<!--<div class="tier">-->
<!--    <input type="radio" id="tier04" name="tier" value="4" />-->
<!--    <label for="tier04" style="color: #345B75;">4</label>-->
<!--</div>-->

<!--<div class="tier">-->
<!--    <input type="radio" id="tier05" name="tier" value="5" />-->
<!--    <label for="tier05" style="color : #6F2019;">5</label>-->
<!--</div>-->

<!--<div class="tier">-->
<!--    <input type="radio" id="tier06" name="tier" value="6" />-->
<!--    <label for="tier06" style="color : #B06227;">6</label>-->
<!--</div>-->

<!--<div class="tier">-->
<!--    <input type="radio" id="tier07" name="tier" value="7" />-->
<!--    <label for="tier07" style="color : #CDAB3A;">7</label>-->
<!--</div>-->

<!--<div class="tier">-->
<!--    <input type="radio" id="tier08" name="tier" value="8" />-->
<!--    <label for="tier08" style="color : #F8F8F8;">8</label>-->
<!--</div>-->

<!--<div class="dot">-->
<!--    <input type="radio" id="tierDot" name="tierDot" value="0"/>-->
<!--    <label for="tierDot">.0</label>-->
<!--    <input type="radio" id="tierDot01" name="tierDot" value="1"/>-->
<!--    <label for="tierDot01">.1</label>-->
<!--    <input type="radio" id="tierDot02" name="tierDot" value="2" />-->
<!--    <label for="tierDot02">.2</label>-->
<!--    <input type="radio" id="tierDot03" name="tierDot" value="3" />-->
<!--    <label for="tierDot03">.3</label>-->
<!--    <input type="radio" id="tierDot04" name="tierDot" value="4" />-->
<!--    <label for="tierDot04">.4</label>-->
<!--</div>-->