<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/variable.js"></script>
    <script type="text/javascript" src="/static/js/marketcopy.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="stylesheet" href="/static/css/marketCopy.css" />
    <link rel="stylesheet" href="/static/css/loading.css" />


    <!--<script type="text/javascript" src="/jsMin/util.js"></script>
    <script type="text/javascript" src="/jsMin/variable.js"></script>
    <script type="text/javascript" src="/jsMin/market.js"></script>
    <link rel="stylesheet" href="/css/variable.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/detail.css"/>
    <link rel="stylesheet" href="/css/market.css"/>
    <link rel="stylesheet" href="/css/loading.css"/>-->
    <meta charset="UTF-8">
    <title>알비온 GG - 시장 검색 ⚔</title>
</head>
<body data-theme="light-mode">
<script type="text/javascript" src="/js/toggle.js"></script>
<div class="image-maindiv">
    <div th:replace="~{header :: header}"></div>
    <header class="header" th:fragment="header">
        <a class="header-logo link" href="/"></a>
        <label class="switch">
            <input class="switchBtn" role="switch" type="checkbox" />
            <span>다크 모드</span>
        </label>
    </header>

    <div >
        <div class="back-div">
            <a class="btn-back text-center" href="javascript:history.back();">목록으로</a>
        </div>
        <div class="container-title">
            <h6>시장 가격 조회📈</h6>
        </div>
        <div class="container relative">
            <div class="flex-row">
                <div class="flex-row shadow search-div">
                    <button class="tier-btn relative tierListTrigger">
                        <span class="tierText">티어 선택 🔻</span>
                        <ul class="tierList">
                            <li value="">전체</li>
                            <li value="T1">1</li>
                            <li value="T2">2</li>
                            <li value="T3">3</li>
                            <li value="T4">4</li>
                            <li value="T5">5</li>
                            <li value="T6">6</li>
                            <li value="T7">7</li>
                            <li value="T8">8</li>
                        </ul>
                    </button>
                    <input class="input" type="text" id="itemName" placeholder="아이템 이름을 입력하세요.." autocomplete="off">
                    <a class="search" id="searchBtn">🔍</a>
                </div>
            </div>
            <div class="flex-row">
                <p>🌏 서버 선택</p>
            </div>
            <div class="flex-row radio-div space-between vertical-flex-end">
                <div>
                    <input class="east" type="radio" id="server01" name="server" value="east" checked/>
                    <label class="east" for="server01">아시아</label>
                    <input class="west" type="radio" id="server02" name="server" value="west"/>
                    <label class="west" for="server02">아메리카</label>
                    <input class="europe" type="radio" id="server03" name="server" value="europe"/>
                    <label class="europe" for="server03">유럽</label>
                </div>
                <div>
                    <span class="info-message">행에 마우스를 올리면 해당 행을 더욱 편하게 보실 수 있습니다.</span>
                </div>
            </div>
            <div id="itemList" class="datalist">
                
            </div>

            
            <div class="flex-column">
                <!-- 일반 품질 -->
                <div class="flex-row space-around border-bottom relative">
                    <table>
                        <colgroup>
                            <col class="c1">
                            <col class="c2">
                            <col class="c3">
                            <col class="c4">
                            <col class="c5">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="quality">일반</span>
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>마트록</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>뎃포드</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>포트스털링</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>림허스트</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>브릿지워치</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>칼레온</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>브리실리안</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <!-- 좋음 품질 -->
                <div class="flex-row space-around border-bottom relative">
                    <table>
                        <colgroup>
                            <col class="c1">
                            <col class="c2">
                            <col class="c3">
                            <col class="c4">
                            <col class="c5">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="quality">좋음</span>
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>마트록</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>뎃포드</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>포트스털링</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>림허스트</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>브릿지워치</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>칼레온</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>브리실리안</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 뛰어남 품질 -->
                <div class="flex-row space-around border-bottom relative">
                    <table>
                        <colgroup>
                            <col class="c1">
                            <col class="c2">
                            <col class="c3">
                            <col class="c4">
                            <col class="c5">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="quality">뛰어남</span>
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>마트록</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>뎃포드</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>포트스털링</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>림허스트</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>브릿지워치</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>칼레온</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>브리실리안</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 우수 품질 -->
                <div class="flex-row space-around border-bottom relative">
                    <table>
                        <colgroup>
                            <col class="c1">
                            <col class="c2">
                            <col class="c3">
                            <col class="c4">
                            <col class="c5">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="quality">우수</span>
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>마트록</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>뎃포드</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>포트스털링</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>림허스트</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>브릿지워치</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>칼레온</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>브리실리안</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 걸작 품질 -->
                <div class="flex-row space-around border-bottom relative">
                    <table>
                        <colgroup>
                            <col class="c1">
                            <col class="c2">
                            <col class="c3">
                            <col class="c4">
                            <col class="c5">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <span class="quality">걸작</span>
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                                <th>
                                    <img class="tableImage" src="/static/image/T8_2H_AXE_AVALON_4.png" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>마트록</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>뎃포드</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>포트스털링</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>림허스트</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>브릿지워치</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>칼레온</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>브리실리안</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                

                
            </div>
        </div> <!-- container -->
    </div>

        

        <div id="blackArea">
            <div id="loading">
                <div class="stick"></div>
                <div class="stick"></div>
                <div class="stick"></div>
                <div class="stick"></div>
                <div class="stick"></div>
                <div class="stick"></div>

                <h1>정보 요청중..</h1>
            </div>
        </div>

    </div> <!-- main -->
    <div class="footer">
        <span>All <a href="https://albiononline.com/news" target="_blank" style="text-decoration: underline;">Albion Online</a> related materials are property of <a
                href="https://albiononline.com/imprint" target="_blank" style="text-decoration: underline;">Sandbox Interactive GmbH</a></span>
        <span>Prices are provided by the <a href="https://www.albion-online-data.com/" target="_blank"
                                            style="text-decoration: underline;">Albion Online Data Project</a></span>
    </div>
</div>
</body>
</html>
