<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>


    <!-- <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/killboard.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css"/>
    <link rel="stylesheet" href="/static/css/editor.css"/>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="stylesheet" href="/static/css/killboard/killboard.css" />
    <link rel="stylesheet" href="/static/css/loading.css" /> -->



    <script type="text/javascript" src="/jsMin/util.js"></script>
    <script type="text/javascript" src="/jsMin/killboard/killboard.js"></script>
    <script type="text/javascript" src="/jsMin/killboard/killboardList.js"></script>
    <link rel="stylesheet" href="/css/variable.css"/>
    <link rel="stylesheet" href="/css/board/editor.css"/>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/killboard/killboard.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <meta charset="UTF-8">
    <title>알비온 GG - 킬보드 ⚔</title>
</head>
<body data-theme="light-mode">
<script type="text/javascript" src="/jsMin/toggle.js"></script>
<div class="image-maindiv image-maindiv-list">
<div th:replace="~{header :: header}"></div>

<div class="main">
    <div class="centered">
        <div class="back-div">
            <a class="btn-back text-center" href="/killboard">돌아 가기</a>
        </div>
        <div class="content-header">
            <h2 id="contentTitle">🏹 플레이어 정보 & Battles 🏹</h2>
        </div>
        <hr/>

        <div class="content-body">
            <div class="content-body-items">
                
                <div class="box">
                    <div class="box-item">
                        <p class="item-title">플레이어 정보</p>
                        <span>수정된 날짜<span th:if="${! #strings.isEmpty(player.lifetimeStatistics.timeStamp)}" th:text="${player.lifetimeStatistics.timeStamp}"></span></span>
                        <span>닉네임<span th:text="${player.name}"></span></span>
                        <span>길드<span th:text="${player.guildName}"></span></span>
                        <span>연합<span th:text="${player.allianceName}"></span></span>
                    </div>
                    <div class="box-item">
                        <p class="item-title">PVP 명성</p>
                        <span>Kill 명성<span th:text="${player.killFameStr}">0</span></span>
                        <span>DEATH 명성<span th:text="${player.deathFameStr}">0</span></span>
                        <span>KDA<span th:text="${kda}">0</span></span>
                    </div>
                    <div class="box-item">
                        <p class="item-title">PVE 명성</p>
                        <span>총페임<span th:text="${pve.totalStr}">0</span></span>
                        <span>로얄랜드<span th:text="${pve.royalStr}">0</span></span>
                        <span>아웃랜드<span th:text="${pve.outlandsStr}">0</span></span>
                        <span>아발로드<span th:text="${pve.avalonStr}">0</span></span>
                        <span>헬게이트<span th:text="${pve.hellgateStr}">0</span></span>
                        <span>오염된던전<span th:text="${pve.corruptedDungeonStr}">0</span></span>
                        <span>미스트<span th:text="${pve.mistsStr}">0</span></span>
                    </div>
                    <div class="box-item">
                        <p class="item-title">제작 명성</p>
                        <span>총페임<span th:text="${craft.totalStr}">0</span></span>
                        <span>로얄랜드<span th:text="${craft.royalStr}">0</span></span>
                        <span>아웃랜드<span th:text="${craft.outlandsStr}">0</span></span>
                        <span>아발로드<span th:text="${craft.avalonStr}">0</span></span>
                    </div>
                </div>
                <div class="box">
                    <div class="box-item">
                        <p class="item-title">채집 명성</p>
                        <span>총페임<span th:text="${gather.all.totalStr}">0</span></span>
                        <span>로얄랜드<span th:text="${gather.all.royalStr}">0</span></span>
                        <span>아웃랜드<span th:text="${gather.all.outlandsStr}">0</span></span>
                        <span>아발로드<span th:text="${gather.all.avalonStr}">0</span></span>
                    </div>
                    <div class="box-item">
                        <p class="item-title">섬유</p>
                        <span>총페임<span th:text="${gather.fiber.totalStr}">0</span></span>
                        <span>로얄랜드<span th:text="${gather.fiber.royalStr}">0</span></span>
                        <span>아웃랜드<span th:text="${gather.fiber.outlandsStr}">0</span></span>
                        <span>아발로드<span th:text="${gather.fiber.avalonStr}">0</span></span>
                    </div>
                    <div class="box-item">
                        <p class="item-title">가죽</p>
                        <span>총페임<span th:text="${gather.hide.totalStr}">0</span></span>
                        <span>로얄랜드<span th:text="${gather.hide.royalStr}">0</span></span>
                        <span>아웃랜드<span th:text="${gather.hide.outlandsStr}">0</span></span>
                        <span>아발로드<span th:text="${gather.hide.avalonStr}">0</span></span>
                    </div>
                    <div class="box-item">
                        <p class="item-title">광석</p>
                        <span>총페임<span th:text="${gather.ore.totalStr}">0</span></span>
                        <span>로얄랜드<span th:text="${gather.ore.royalStr}">0</span></span>
                        <span>아웃랜드<span th:text="${gather.ore.outlandsStr}">0</span></span>
                        <span>아발로드<span th:text="${gather.ore.avalonStr}">0</span></span>
                    </div>
                    <div class="box-item">
                        <p class="item-title">돌</p>
                        <span>총페임<span th:text="${gather.rock.totalStr}">0</span></span>
                        <span>로얄랜드<span th:text="${gather.rock.royalStr}">0</span></span>
                        <span>아웃랜드<span th:text="${gather.rock.outlandsStr}">0</span></span>
                        <span>아발로드<span th:text="${gather.rock.avalonStr}">0</span></span>
                    </div>
                    <div class="box-item">
                        <p class="item-title">나무</p>
                        <span>총페임<span th:text="${gather.wood.totalStr}">0</span></span>
                        <span>로얄랜드<span th:text="${gather.wood.royalStr}">0</span></span>
                        <span>아웃랜드<span th:text="${gather.wood.outlandsStr}">0</span></span>
                        <span>아발로드<span th:text="${gather.wood.avalonStr}">0</span></span>
                    </div>
                    <div class="box-item">
                        <p class="item-title">낚시 & 농사</p>
                        <span>낚시 페임<span th:text="${player.lifetimeStatistics.fishingFameStr}">0</span></span>
                        <span>농사 페임<span th:text="${player.lifetimeStatistics.farmingFameStr}">0</span></span>
                    </div>
                </div>
            </div>

            <div class="content-body-items">
                
            </div>

            <hr/>
            <div class="content-body-items">
            <p>🔻선택🔻</p>
                <input type="radio" id="killRadio" name="radio_kill" value="kill" checked>
                <label for="killRadio">킬</label>
                <input type="radio" id="deathRadio" name="radio_kill" value="death">
                <label for="deathRadio">데스</label>
            </div>
            <div id="divTables" class="content-body-items">
                <p class="infoMsg">상세보기는 행을 클릭 | 죽은사람/죽인사람에 대한 킬로그를 보려면 닉네임을 클릭 | 어이스트한 사람의 킬로그를 보려면 더보기에 마우스 올리기.</p>
                <table id="killTable">
                    <colgroup>
                        <col class="col1">
                        <col class="col2">
                        <col class="col3">
                        <col class="col4">
                        <col class="col5">
                        <col class="col6">
                        <col class="col7">
                        <col class="col8">
                        <col class="col9">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>날짜(한국시간)</th>
                        <th>죽인사람</th>
                        <th>길드</th>
                        <th>죽인사람 IP</th>
                        <th>죽은사람</th>
                        <th>길드</th>
                        <th>죽은사람 IP</th>
                        <th>어시스트</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- kill -->
                    <th:block th:if="${#lists.size(kills) == 0}">
                        <tr class="kill">
                            <td colspan="9">최근 킬이 없습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:if="${#lists.size(kills) != 0}">
                        <tr th:each="killLog, i : ${kills}" th:value="${killLog.eventId}">
                            <td th:text="${i.count}"></td>
                            <td th:if="${! #strings.isEmpty(killLog.timeStamp)}" th:text="${killLog.timeStamp}"></td>
                            <td th:text="${killLog.killer.name}" th:value="${killLog.killer.id}"></td>
                            <td th:text="${killLog.killer.guildName}"></td>
                            <td th:text="${killLog.killer.averageItemPower}"></td>
                            <td class="not" th:value="${killLog.victim.id}">
                                <span class="link not userLink red" th:attr="data-userid=${killLog.victim.id}, data-server=${location}, data-username=${killLog.victim.name}" th:text="${killLog.victim.name}"></span>
                            </td>
                            <td th:text="${killLog.victim.guildName}"></td>
                            <td th:text="${killLog.victim.averageItemPower}"></td>
                            <td class="participants-div not">
                                <div class="participants not"><span class="not">더보기</span>
                                    <div class="participant not flex-column">
                                        <span class="link not userLink red" th:if="${not #strings.isEmpty(killLog.participants)}"
                                                            th:each="participant : ${killLog.participants}"
                                                            th:attr="data-userid=${participant.id}, data-server=${location}, data-username=${participant.name}" th:text="${participant.name}"></span>
                                        <span class="not" th:if="${#strings.isEmpty(killLog.participants) or #lists.size(killLog.participants) == 0}">어시스트 없음</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <table id="deathTable" class="" style="display: none;">
                    <colgroup>
                        <col class="col1">
                        <col class="col2">
                        <col class="col3">
                        <col class="col4">
                        <col class="col5">
                        <col class="col6">
                        <col class="col7">
                        <col class="col8">
                        <col class="col9">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>날짜(한국시간)</th>
                        <th>죽인사람</th>
                        <th>길드</th>
                        <th>죽인사람 IP</th>
                        <th>죽은사람</th>
                        <th>길드</th>
                        <th>죽은사람 IP</th>
                        <th>어시스트</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- death -->
                    <th:block th:if="${#lists.size(deaths) == 0}">
                        <tr class="death">
                            <td colspan="9">최근 데스가 없습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:if="${#lists.size(deaths) != 0}">
                        <tr th:each="deathLog, i : ${deaths}" th:value="${deathLog.eventId}">
                            <td th:text="${i.count}"></td>
                            <td th:if="${! #strings.isEmpty(deathLog.timeStamp)}" th:text="${deathLog.timeStamp}"></td>
                            <td class="not" th:value="${deathLog.killer.id}">
                                <span class="link not userLink red" th:attr="data-userid=${deathLog.killer.id}, data-server=${location}, data-username=${deathLog.killer.name}" th:text="${deathLog.victim.name}"></span>
                            </td>
                            <td th:text="${deathLog.killer.guildName}"></td>
                            <td th:text="${deathLog.killer.averageItemPower}"></td>
                            <td th:text="${deathLog.victim.name}" th:value="${deathLog.victim.id}"></td>
                            <td th:text="${deathLog.victim.guildName}"></td>
                            <td th:text="${deathLog.victim.averageItemPower}"></td>
                            <td class="participants-div not">
                                <div class="participants not"><span class="not">더보기</span>
                                    <div  class="participant not flex-column">
                                        <span class="link not userLink red" th:if="${not #strings.isEmpty(deathLog.participants)}"
                                                               th:each="participant : ${deathLog.participants}"
                                                               th:attr="data-userid=${participant.id}, data-server=${location}, data-username=${participant.name}" th:text="${participant.name}"></span>
                                        <span class="not" th:if="${#strings.isEmpty(deathLog.participants) or #lists.size(deathLog.participants) == 0}">어시스트 없음</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- main -->
</div>

<div id="blackArea">
    <div id="loading">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>

        <h1>정보 요청중..</h1>
    </div>
</div>

</body>
</html>