<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

    <script type="text/javascript" src="/jsMin/util.js"></script>
    <script type="text/javascript" src="/jsMin/killboard/killboardDetail.js"></script>
    <link rel="stylesheet" href="/css/variable.css"/>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/killboard/killboardDetail.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <meta charset="UTF-8">
    <title>알비온 GG - 킬보드 ⚔</title>
    <th:block th:replace="~{header :: analytics}"></th:block>
</head>
<body data-theme="light-mode">
<script type="text/javascript" src="/jsMin/toggle.js"></script>
<div class="image-maindiv">
<div th:replace="~{header :: header}"></div>

<div>
    <div class="back-div">
        <a class="btn-back text-center" href="javascript:history.back();">목록으로</a>
    </div>

    <div class="container-title">
        <h5>🏹 킬보드 - 상세보기 🏹</h5>
    </div>

    <div class="container">
        <div class="flex-column gap-10 flex-wrap">
            <span class="info">📌 닉네임을 클릭하면 해당 유저의 킬, 데스로그 페이지로 이동합니다. 📌</span>
            <div class="flex-row w-10 gap-10 space-center align-item-center flex-wrap">
                <div class="flex-item shadow">
                    <div class="detailDiv">
                        <span class="flex-title">🏹전투 id</span>
                        <span class="flex-title blue" th:text="${event.eventId}"></span>
                    </div>
                </div>
                <div></div>
                <div class="flex-item shadow">
                    <div class="detailDiv">
                        <span class="flex-title">🕐발생시간(한국시간)</span>
                        <span class="flex-title blue" th:text="${event.timeStamp}"></span>
                    </div>
                </div>
            </div>
            <div class="flex-row w-10 gap-10 space-center align-item-center">
                <div class="flex-column gap-10 space-center align-item-center">
                    <span class="names hover userLink" th:attr="data-userid=${event.killer.id}, data-username=${event.killer.name}, data-server=${server}">
                        <p class="userName green" th:text="${event.killer.name}"></p>
                        <span class="allyName black" th:if="${not #strings.isEmpty(event.killer.allianceName)}" th:text="|[${event.killer.allianceName}]|"></span>
                        <span class="guildName black" th:if="${not #strings.isEmpty(event.killer.guildName)}" th:text="${event.killer.guildName}"></span>
                    </span>
                    <div class="imageDiv border border-green radius relative" th:with="p=${event.killer.equipment}">
                        <img class="gear" src="/image/gear.png" />
                        <!-- 메인핸드 -->
                        <img th:if="${not #strings.isEmpty(p.mainHand)}" class="wearingItem mainHand"
                             th:src="|https://render.albiononline.com/v1/item/${p.mainHand.type}?quality=${p.mainHand.quality}|"/>
                        <!-- 오프핸드 -->
                        <img th:if="${not #strings.isEmpty(p.offHand)}" class="wearingItem offHand"
                             th:src="|https://render.albiononline.com/v1/item/${p.offHand.type}?quality=${p.offHand.quality}|"/>
                        <!-- 머리 -->
                        <img th:if="${not #strings.isEmpty(p.head)}" class="wearingItem hat"
                             th:src="|https://render.albiononline.com/v1/item/${p.head.type}?quality=${p.head.quality}|"/>
                        <!-- 몸통 -->
                        <img th:if="${not #strings.isEmpty(p.armor)}" class="wearingItem clothes"
                             th:src="|https://render.albiononline.com/v1/item/${p.armor.type}?quality=${p.armor.quality}|"/>
                        <!-- 발 -->
                        <img th:if="${not #strings.isEmpty(p.shoes)}" class="wearingItem shoes"
                             th:src="|https://render.albiononline.com/v1/item/${p.shoes.type}?quality=${p.shoes.quality}|"/>
                        <!-- 망토 -->
                        <img th:if="${not #strings.isEmpty(p.cape)}" class="wearingItem cape"
                             th:src="|https://render.albiononline.com/v1/item/${p.cape.type}?quality=${p.cape.quality}|"/>
                        <!-- 가방 -->
                        <img th:if="${not #strings.isEmpty(p.bag)}" class="wearingItem bag"
                             th:src="|https://render.albiononline.com/v1/item/${p.bag.type}?quality=${p.bag.quality}|"/>
                        <!-- 푸드 -->
                        <img th:if="${not #strings.isEmpty(p.food)}" class="wearingItem food"
                             th:src="|https://render.albiononline.com/v1/item/${p.food.type}?quality=${p.food.quality}|"/>
                        <span th:if="${not #strings.isEmpty(p.food)}"  class="count food-count" th:text="${p.food.count}"></span>
                        <!-- 포션 -->
                        <img th:if="${not #strings.isEmpty(p.potion)}" class="wearingItem potion"
                             th:src="|https://render.albiononline.com/v1/item/${p.potion.type}?quality=${p.potion.quality}|"/>
                        <span th:if="${not #strings.isEmpty(p.potion)}" class="count potion-count" th:text="${p.potion.count}"></span>
                        <!-- 마운트 -->
                        <img th:if="${not #strings.isEmpty(p.mount)}" class="wearingItem mount"
                             th:src="|https://render.albiononline.com/v1/item/${p.mount.type}?quality=${p.mount.quality}|"/>
                        <div class="fame">
                            <span>킬페임 : </span><span class="green" th:text="|+${event.killer.killFameStr}|"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <span class="vs">vs</span>
                </div>
                <div class="flex-column gap-10 space-center align-item-center">
                    <span class="names hover userLink" th:attr="data-userId=${event.victim.id}, data-username=${event.victim.name}, data-server=${server}">
                        <p class="userName red" th:text="${event.victim.name}"></p>
                        <span class="allyName black" th:if="${not #strings.isEmpty(event.victim.allianceName)}" th:text="|[${event.victim.allianceName}]|"></span>
                        <span class="guildName black" th:if="${not #strings.isEmpty(event.victim.guildName)}" th:text="${event.victim.guildName}"></span>
                    </span>
                    <div class="imageDiv border border-red radius relative" th:with="p=${event.victim.equipment}">
                        <img class="gear" src="/image/gear.png" />
                        <!-- 메인핸드 -->
                        <img th:if="${not #strings.isEmpty(p.mainHand)}" class="wearingItem mainHand"
                             th:src="|https://render.albiononline.com/v1/item/${p.mainHand.type}?quality=${p.mainHand.quality}|"/>
                        <!-- 오프핸드 -->
                        <img th:if="${not #strings.isEmpty(p.offHand)}" class="wearingItem offHand"
                             th:src="|https://render.albiononline.com/v1/item/${p.offHand.type}?quality=${p.offHand.quality}|"/>
                        <!-- 머리 -->
                        <img th:if="${not #strings.isEmpty(p.head)}" class="wearingItem hat"
                             th:src="|https://render.albiononline.com/v1/item/${p.head.type}?quality=${p.head.quality}|"/>
                        <!-- 몸통 -->
                        <img th:if="${not #strings.isEmpty(p.armor)}" class="wearingItem clothes"
                             th:src="|https://render.albiononline.com/v1/item/${p.armor.type}?quality=${p.armor.quality}|"/>
                        <!-- 발 -->
                        <img th:if="${not #strings.isEmpty(p.shoes)}" class="wearingItem shoes"
                             th:src="|https://render.albiononline.com/v1/item/${p.shoes.type}?quality=${p.shoes.quality}|"/>
                        <!-- 망토 -->
                        <img th:if="${not #strings.isEmpty(p.cape)}" class="wearingItem cape"
                             th:src="|https://render.albiononline.com/v1/item/${p.cape.type}?quality=${p.cape.quality}|"/>
                        <!-- 가방 -->
                        <img th:if="${not #strings.isEmpty(p.bag)}" class="wearingItem bag"
                             th:src="|https://render.albiononline.com/v1/item/${p.bag.type}?quality=${p.bag.quality}|"/>
                        <!-- 푸드 -->
                        <img th:if="${not #strings.isEmpty(p.food)}" class="wearingItem food"
                             th:src="|https://render.albiononline.com/v1/item/${p.food.type}?quality=${p.food.quality}|"/>
                        <span th:if="${not #strings.isEmpty(p.food)}" class="count food-count" th:text="${p.food.count}"></span>
                        <!-- 포션 -->
                        <img th:if="${not #strings.isEmpty(p.potion)}" class="wearingItem potion"
                             th:src="|https://render.albiononline.com/v1/item/${p.potion.type}?quality=${p.potion.quality}|"/>
                        <span th:if="${not #strings.isEmpty(p.potion)}" class="count potion-count" th:text="${p.potion.count}"></span>
                        <!-- 마운트 -->
                        <img th:if="${not #strings.isEmpty(p.mount)}" class="wearingItem mount"
                             th:src="|https://render.albiononline.com/v1/item/${p.mount.type}?quality=${p.mount.quality}|"/>
                        <div class="fame">
                            <span>데스페임 : </span><span class="red" th:text="|-${event.victim.deathFameStr}|"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-row w-10 gap-10 space-center align-item-center">
                <div class="inventory-div w-10">
                    <p class="sub-title">사망자 인벤토리</p>
                    <div class="inventory border border-red">
                        <th:block th:if="${#strings.isEmpty(event.victim.inventory)}">
                            아이템을 아무것도 가지고 있지 않았습니다.
                        </th:block>
                        <th:block th:if="${not #strings.isEmpty(event.victim.inventory)}" th:each="inventory : ${event.victim.inventory}">
                            <div th:if="${not #strings.isEmpty(inventory)}" class="item">
                                <img class="item-img" th:src="|https://render.albiononline.com/v1/item/${inventory.type}?quality=${inventory.quality}|"/>
                                <span class="item-quantity" th:text="${inventory.count}"></span>
                            </div>
                        </th:block>

                    </div>
                </div>
            </div>

            <div class="flex-row w-10 gap-10 space-center align-item-center">
                <div class="table-div">
                    <p class="sub-title">킬 관여</p>
                    <table class="table">
                        <colgroup>
                            <col class="col1">
                            <col class="col2">
                            <col class="col3">
                            <col class="col4">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>닉네임</th>
                                <th>착용장비</th>
                                <th>데미지</th>
                                <th>힐링</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="hover-background" th:if="${#strings.isEmpty(event.participants) or #lists.size(event.participants) == 0}">
                                <td colspan="4">킬에 관여한 유저가 없습니다.</td>
                            </tr>

                            <tr class="hover-background" th:if="${not #strings.isEmpty(event.participants) and #lists.size(event.participants) > 0}" th:each="p : ${event.participants}">
                                <td class="playerinfo">
                                    <p class="green" th:text="${p.name}"></p>
                                    <span th:if="${not #strings.isEmpty(p.allianceName)}" th:text="|[${p.allianceName}]|"></span>
                                    <span th:if="${not #strings.isEmpty(p.guildName)}" th:text="${p.guildName}"></span>
                                </td>
                                <td th:with="a = ${p.equipment}">
                                    <img th:if="${not #strings.isEmpty(a.mainHand)}" th:src="|https://render.albiononline.com/v1/item/${a.mainHand.type}?quality=${a.mainHand.quality}|" />
                                    <img th:if="${not #strings.isEmpty(a.offHand)}" th:src="|https://render.albiononline.com/v1/item/${a.offHand.type}?quality=${a.offHand.quality}|" />
                                    <img th:if="${not #strings.isEmpty(a.head)}" th:src="|https://render.albiononline.com/v1/item/${a.head.type}?quality=${a.head.quality}|" />
                                    <img th:if="${not #strings.isEmpty(a.armor)}" th:src="|https://render.albiononline.com/v1/item/${a.armor.type}?quality=${a.armor.quality}|" />
                                    <img th:if="${not #strings.isEmpty(a.shoes)}" th:src="|https://render.albiononline.com/v1/item/${a.shoes.type}?quality=${a.shoes.quality}|" />
                                    <img th:if="${not #strings.isEmpty(a.cape)}" th:src="|https://render.albiononline.com/v1/item/${a.cape.type}?quality=${a.cape.quality}|" />
                                </td>
                                <td th:text="${p.damageDone}"></td>
                                <td th:text="${p.supportHealingDone}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            
        </div>
    </div><!--container -->
</div>
</div>

<div id="blackArea">
    <div id="loading">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>

        <h1>정보 요청중..</h1>
    </div>
</div>

</body>
</html>
