<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- jquery alert-->
    <!--https://craftpip.github.io/jquery-confirm/themes.html#custom-themes-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>


    <!-- <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/killboard.js"></script>
    <link rel="stylesheet" href="/static/css/variable.css"/>
    <link rel="stylesheet" href="/static/css/editor.css"/>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/detail.css" />
    <link rel="stylesheet" href="/static/css/killboard.css" />
    <link rel="stylesheet" href="/static/css/loading.css" /> -->



    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/killboard.js"></script>
    <link rel="stylesheet" href="/css/variable.css"/>
    <link rel="stylesheet" href="/css/editor.css"/>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/killboard.css" />
    <link rel="stylesheet" href="/css/loading.css" />
    <meta charset="UTF-8">
    <title>⚔ 알비온 헬퍼 - 킬보드 ⚔</title>
</head>
<body>
<div class="header">
    <a class="header-logo" href="/">⚔ 알비온 헬퍼</a>
</div>

<div class="main">
    <div class="centered">
        <div class="content-header">
            <h2 id="contentTitle">🏹 킬보드 🏹</h2>
        </div>
        <hr/>

        <div class="content-body">
            <div class="content-body-items">
                <div>
                    <p>🔻서버를 선택해주세용🔻</p>
                    <input type="radio" id="location03" name="location" value="east" checked/>
                    <label for="location03">동부</label>
                    <input type="radio" id="location02" name="location" value="west" />
                    <label for="location02">서부</label>
                    <input type="radio" id="lcation01" name="location" value="europe" />
                    <label for="lcation01">유럽</label>
                </div>
            </div>

            <div class="content-body-items">
                <p>🔻아래에 인게임 ID를 정확하게 입력하고 Enter키를 눌러주세용...🔻</p>
                <input class="rainbow" type="text" name="userId" id="userId" placeholder="id를 입력하세요." maxlength="16">
                <p class="warningMsg" id="invalidId_msg"></p>

                <div id="userList">
                    <div class="rainbow popUp">
                        <p>🔻본인의 아이디를 클릭해주세용..🔻</p>
                        <div id="userNames" class="content-body-item-userGroup"></div>
                    </div>
                </div>
            </div>

            <hr/>
            <p>🔻선택🔻</p>
            <input type="radio" id="killRadio" name="radio_kill" value="kill" checked>
            <label for="killRadio">킬</label>
            <input type="radio" id="deathRadio" name="radio_kill" value="death">
            <label for="deathRadio">데스</label>

            <div id="divTables" class="content-body-items">
                <p class="infoMsg">죽은사람, 죽은사람 정보를 얻고싶다면 클릭, 어시스트한 사람을 보고싶다면 더보기란 마우스 올리기! </p>
                <table id="killTable" class="">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>날짜</th>
                        <th>죽인사람</th>
                        <th>길드</th>
                        <th>죽인사람 IP</th>
                        <th>죽은사람</th>
                        <th>길드</th>
                        <th>죽은사람 IP</th>
                        <th>어시스트</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- kill -->
                    <th:block th:if="${#lists.size(kills) == 0}">
                        <tr class="kill">
                            <td colspan="9">최근 킬이 없습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:if="${#lists.size(kills) != 0}">
                        <tr class="kill" th:each="killLog, i : ${kills}">
                            <td th:text="${i.count}"></td>
                            <td th:text="${killLog.timeStamp}"></td>
                            <td th:text="${killLog.killer.name}"></td>
                            <td th:text="${killLog.killer.guildName}"></td>
                            <td th:text="${killLog.killer.averageItemPower}"></td>
                            <td>
                                <a class="link" th:href="@{/killboard/getKillBoard(id=${killLog.victim.id}, location=${location})}" th:text="${killLog.victim.name}"></a>
                            </td>
                            <td th:text="${killLog.victim.guildName}"></td>
                            <td th:text="${killLog.victim.averageItemPower}"></td>
                            <td class="participants-div">
                                <div class="participants"><span>더보기</span>
                                    <div class="participant">
                                        <a class="link" th:each="participant : ${killLog.participants}" th:href="@{/killboard/getKillBoard(id=${participant.id}, location=${location})}" th:text="${participant.name}"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <table id="deathTable" class="" style="display: none;">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>날짜</th>
                        <th>죽인사람</th>
                        <th>길드</th>
                        <th>죽인사람 IP</th>
                        <th>죽은사람</th>
                        <th>길드</th>
                        <th>죽은사람 IP</th>
                        <th>어시스트</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- death -->
                    <th:block th:if="${#lists.size(deaths) == 0}">
                        <tr class="death">
                            <td colspan="9">최근 데스가 없습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:if="${#lists.size(deaths) != 0}">
                        <tr class="death" th:each="deathLog, i : ${deaths}">
                            <td th:text="${i.count}"></td>
                            <td th:text="${deathLog.timeStamp}"></td>
                            <td>
                                <a  class="link" th:href="@{/killboard/getKillBoard(id=${deathLog.killer.id}, location=${location})}" th:text="${deathLog.killer.name}"></a>
                            </td>
                            <td th:text="${deathLog.killer.guildName}"></td>
                            <td th:text="${deathLog.killer.averageItemPower}"></td>
                            <td th:text="${deathLog.victim.name}"></td>
                            <td th:text="${deathLog.victim.guildName}"></td>
                            <td th:text="${deathLog.victim.averageItemPower}"></td>
                            <td class="participants-div">
                                <div class="participants"><span>더보기</span>
                                    <div class="participant">
                                        <a class="link" th:each="participant : ${deathLog.participants}" th:href="@{/killboard/getKillBoard(id=${participant.id}, location=${location})}" th:text="${participant.name}"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- main -->

<div id="blackArea">
    <div id="loading">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>

        <h1>정보 요청중..</h1>
    </div>
</div>

</body>
</html>